﻿<%@ Page Title="PCS Bidding" Language="VB" MasterPageFile="~/BackendPopUP.master" AutoEventWireup="false" CodeFile="ListInvitedBidders.aspx.vb" Inherits="Auctions_ListInvitedBidders" %>
<%@ Register src="UserControls/ListInvitedBidders.ascx" tagname="ListInvitedBidders" tagprefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
   <uc1:ListInvitedBidders ID="ListInvitedBidders1" runat="server" />
</asp:Content>

