﻿<%@ Page Title="PCS Bidding" Language="VB" MasterPageFile="~/BackendPopUP.master" AutoEventWireup="false"
    CodeFile="ListAuctionItems.aspx.vb" Inherits="Auctions_ListAuctionItems" %>

<%@ Register Src="UserControls/AuctionItems.ascx" TagName="AuctionItems" TagPrefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">
    <div style="padding-bottom:10px; padding-top:8px;" >
        <div class="pageheading">
            &nbsp;Product Items</div>
        <%--<div style="float: right;">
            <img src="/Images/Q.mark.png" alt="help?" />&nbsp;--%>
        <%--</div>--%>
    </div>
    <uc1:AuctionItems ID="uc_AuctionItems1" runat="server" />
    <script type="text/javascript">        window.focus();</script>
</asp:Content>
