﻿<%@ Page Title="" Language="VB" MasterPageFile="~/BackendPopUP.master" AutoEventWireup="false" CodeFile="ViewAddAfterLaunchComment.aspx.vb" Inherits="Auctions_ViewAddAfterLaunchComment" %>

<%@ Register src="UserControls/AddViewAfterLaunchComment.ascx" tagname="AddViewAfterLaunchComment" tagprefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">

    <uc1:AddViewAfterLaunchComment ID="UC_AddViewAfterLaunchComment" runat="server" />

</asp:Content>

