﻿<%@ Page Title="" Language="VB" MasterPageFile="~/BackendMain.master" AutoEventWireup="false" CodeFile="email_preview.aspx.vb" Inherits="Master_email_preview" %>


<asp:Content ID="Content1" ContentPlaceHolderID="Child_Content" Runat="Server">


<table cellpadding="0" cellspacing="0" width="100%">
        <tr>
            <td>
                <div style="float: left;">
                    <div >
                        <asp:Literal ID="page_heading1" runat="server"></asp:Literal></div>
                </div>
                
            </td>
        </tr>
        <tr>
        <td>
        <asp:HiddenField ID="hid_id" runat="server" />

        </td>
        </tr>
        </table>
</asp:Content>

