﻿body
{
    padding: 0px;
    margin: 0px;
    font-family: 'UniSansRegular',"Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 12px;
}
.trHeader
{
    background-image: url('/Images/fend/grdnt.jpg');
    background-repeat: repeat-x;
    height: 30px;
}
.trHeaderText
{
    color: White;
    font-weight: bold;
}
.aucImage
{
    /*width: 100px;*/
    
    padding: 2px;
    border: 2px solid gray;
    color: #006FD5;
    font-size: 14px;
}
.auctionTitle
{
    color: #006FD5;
    font-size: 19px;
    font-family:pcchead,arial;
}
.auctionTitle a
{
    color: #006FD5;
    font-size: 19px;
    font-family:pcchead,arial;
    text-decoration:none ;
    
}
.auctionTitle a:hover
{
    text-decoration: underline;
}
.viewStyle
{
    padding:10px 0px 20px 10px;
}
.viewStyle a
{
    color: #004E8A;
    text-decoration: underline;
    font-size: 13px;
    font-weight:bold;
    letter-spacing:.05em;
}
.viewStyle a:hover
{
    text-decoration: none;
}
.auctionSubTitle
{
    color: Gray;
    font-size: 13px;
    font-family:pcchead,arial;
}
.auctionTitle1
{
    font-size: 10px;
    font-family:pcchead,arial;
}
.ShortDesc
{
    font-size: 12px;
    line-height: 1.2em;
    letter-spacing: .02em;
    color: Black;
    padding: 10px 0px 5px 0px;
    white-space:normal;
 }
.AucCode
{
    color: #10AAEA;
    font-weight: bold;
    font-size: 15px;
    padding: 0px 0px 10px 0px;
}
.grBack
{
    background-color: #F5F5F5;
    width: 200px;
}
.grBackDescription
{
    padding: 0px 0px 20px 0px;
    line-height: 1.2em;
   
}
/*.currentRank
{
    padding: 4px 0px 15px 0px;
    color: #18472C;
    font-weight: bold;
    font-size:12px;
}*/
.currentRankD
{
    padding: 0px 0px 5px 0px;
    color: #006FD5;
    text-align: left;
    font-weight: bold;
    font-size: 16px;
}
.bidHistory
{
    background-image: url('/Images/fend/arrow.jpg');
    background-repeat: no-repeat;
    background-position: 0px 5px;
    padding-left: 15px;
    color: #FE9901;
}
.bidHistory a
{
    color: #FE9901;
    text-decoration: underline;
}
.bidHistory a:hover
{
    text-decoration: none;
}
.TextBox
{
    border-top: 1px solid #D7D7D7;
    border-left: 1px solid #D7D7D7;
    border-right: 1px solid #D7D7D7;
    border-bottom: 1px solid #D7D7D7;
   
}
.modalBackground
{
    background-color: Black;
    filter: alpha(opacity=80);
    opacity: 0.2;
    z-index: 10000;
}
.bidType
{
    font-size: 15px;
    color: Black;
    font-weight: bold;
    padding: 10px 0px 5px 0px;
}
div.block_with_border
{
    border: solid 1px #D4D4D4;
    padding: 15px;
}

.pageHeading
{
    padding: 5px;
    color: #006FD5;
    text-align: left;
    font-size: 16px;
}
.detailsSubHeading
{
    color: #006FD5;
    text-align: left;
    font-weight: bold;
    clear: both;
    padding: 5px 0px 5px 0px;
}
.detailsSectionSep
{
    clear: both;
    height: 50px;
    display: block;
    background-image: url('/Images/fend/shadow_separator.png');
    background-repeat: no-repeat;
    background-position: 50% 70%;
}
.detailsDesc
{
    clear: both;
    line-height: 1.5em;
    letter-spacing: .02em;
    color: Black;
    text-align: justify;
}
.pnlGray
{
    clear: both;
    height: 200px;
    color: Black;
    padding: 10px 15px 10px 15px;
    background-color: #F5F5F5;
}
.termLink
{
    clear: both;
    margin-top: 25px;
    border: solid 1px #D4D4D4;
    overflow: hidden;
    padding: 15px;
}
.termLink a
{
    float: left;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: underline;
    color: #FE9901;
    background-image: url('/Images/arrow_small_black.jpg');
    background-repeat: no-repeat;
    background-position: 5px 3px;
    font-weight: bold;
}
.termLink a:hover
{
    text-decoration: none;
}
.auctionPartNo
{
    color: Gray;
    font-size: 13px;
    font-weight: bold;
}
.divItemDesc
{
    height: 106px;
    background-image: url('/Images/fend/grdnt_VIEWPAGE.jpg');
    background-repeat: repeat-x;
    border: solid 1px #D4D4D4;
    padding: 10px 20px 10px 20px;
}
.itmC1
{
    float:left;
    width: 8px;
    height: 92px;
    background-image: url('/Images/fend/corner1_itemdes.png');
    background-repeat: no-repeat;
    display: block;
}
.itmC2
{
    float:left;
    padding:12px 0px 0px 34px;
    width: 300px;
    height: 80px;
    background-image: url('/Images/fend/corner2_itemdes.png');
    background-repeat: repeat-x;
    display: block;
    font-size:12px;
}
.itmC3
{
    float:left;
    width: 8px;
    height: 92px;
    background-image: url('/Images/fend/corner3_itemdes.png');
    background-repeat: no-repeat;
    display: block;
}
.bidderprice
{
	 color:Red;
	 font-size:12px;
	 padding: 5px 0px 5px 5px;
}
 .bidderprice_detail
{
	 color:Red;
	 font-size:12px;
	 padding:0px 0px 5px 0px;
} 
 .qryTitle{font-weight:bold;float:left; border:1px solid green; word-break:break-all; }
.qryDesc{color:#302F30;text-align:justify;}  
.qryAlt{font-size:12px;color:Gray;} 

.Tabarea
{width: 615px; overflow-x: hidden; overflow-y: auto; height: 160px; border: 1px solid #999999;}
.Imgborder
{border: 2px solid #D7D7D7;height: 124px;width:104px; display: block;}
.close_modal{float:right;width:20px; height:20px;}
.modalHeading{ color:Black; background-color: #F2F2F2; height: 24px;font-size: 14px; font-weight: bold; padding-top: 6px;padding-right: 6px;text-align:center;}
.modalNote{ color: #FE9901; text-align:center; height:15px;padding:5px 0px 5px 0px;font-weight:bold;}
.modalNoteP{ color: gray; text-align:center; height:10px;padding:5px 0px 5px 0px;font-weight:normal;}
.modalBody{text-align:center;padding:20px 25px 5px 25px; height:150px;}
.modalBody1{text-align:center;height:150px;}
.modalCaption{font-weight: bold;text-align:right;}


.Auc_status
{
	font-weight: bold;
	text-align: center;
	padding-top: 6px;
	line-height: 17px;
}
.bid_date
{
	text-align: left;
	padding: 10px 3px 3px 3px;
	
}

#dv_auc_pdf
{
    margin:10px;
    width:900px;
    text-align:center;
    border:1px solid #939393;
    padding:15px;
}

#dv_auc_pdf h2 {color:#009DB7;font-weight:300;}
#dv_auc_pdf h1 {color:#4D84FF;}

.dv_det_auc_img .dv_col1 
{
float:left;
 width:150px; 
 text-align:center;  
}
.dv_det_auc_img .dv_col2 
{
  padding-top:20px;
 float:left;
 width:650px;   
}

.dv_col2 .dv_col2_col1
{
    float:left;
    width:400px;
}
.dv_col2 .dv_col2_col2
{
    float:right;
    width:100px;
    padding-top:0px;
    text-align:right;
    
}

.dv_det_auc_item
{
    border-bottom:1px dotted LightGray;
}

.dv_det_auc_product
{
    border-bottom:1px dotted LightGray;
}

.dv_det_auc_term
{
    border-bottom:1px dotted LightGray;
}

.dv_det_auc_summary
{
    overflow:hidden;
    clear:both;
}

.dv_det_auc_term
{
     border-bottom:1px dotted LightGray;
      overflow:hidden;
}

.fltRight
{float:right;}

.auctionTitlePDF
{
    color: #006FD5;
    font-size: 16px;
   
}
.div_summary_label_pdf
{
    font-weight: bold;
    font-size: 17px;
    width: 100%;
    padding-bottom: 8px;
    margin-top: 20px;
}
.div_summary_item_pdf
{
     padding-left: 20px;
     background-color: #F1F1F1;
     width: 100%;
     height: 24px;
     padding-top: 2px;   
 }
 .div_summary_item_row_pdf
 {
     float: left;
     width: 50%;
     
 }
 .div_summary_item_spacer
 {
    height: 4px;
    background-color: White;
    width: 100%    
 }
 .auction_pdf_subheading
 {
     color:#009DB7;
     font-size:17px;
     font-weight:bold;
     
 }
 .duplAuction
{
    color: #FCAD35;
    font-size: 12px;
    font-weight: bold;
}

.itemGridDet
{
    font-weight:bold;
    font-size:12px;
    background-color:#F4F4F4;
    
}
.shipingOptionBG
{
    background: #F6F6F6 url('/Images/fend/shippingoptions.gif') no-repeat;
    background-position:10px 0px;
    padding-left:40px;
    }
.bidPrice {background-color:#F6F6F6;text-align:right;font-weight:bold;padding-right:10px;padding-left:10px;width:80px;vertical-align:top;}    
/* INVOICE  
----------------------------------------------------------*/

.confirmHeading
{
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    padding: 5px 0px;
    color: #3C3C3C;
    margin: 20px 0px;
}
.invoiceAddress
{
    text-align:left;
    color: #767676;
   
}
.invoiceCompanyName
{
   font-size: 16px;
    font-weight: bold;
    text-align: left;
    color:#000000; 
    }
    
    
    .invNumber
{
    color: #3C3C3C;
    font-weight: bold;
    text-align:right;
}
.invoiceBillTo
{
    float:left;
    text-align:left;
    margin:20px 0px;
    padding:20px;
    border: 1px solid #E3E3E3;
    }
.invCell
{
    background-color: #FFFFFF;
}

.bktHeader
{
    background-color:#0190BC;
    color:White;
    font-weight:bold;
    font-size:12px;
    padding:5px;
    width:200px;
    }         
.bucketStyle
{
    background-color:#F1F1F1;
    padding:5px;
    }  
.bucketStyleAlternate
{
    background-color:#FFFFFF;
    padding:5px;
    } 
    .cls_optout
    {padding:5px 0px;}     