﻿body
{
    background: url('/Images/hamepage_background.gif');
    background-repeat: repeat-x;
    padding: 0px;
    margin: 0px;
    font-family:Verdana;
    font-size:11px;
}

div.leftSubmnu{width:150px;height:14px;padding:4px 10px 4px 20px;margin-left:7px;background-color:#F9F9F9;border-bottom:1px solid #DCDCDC;border-left:1px solid #DCDCDC;border-right:1px solid #DCDCDC;}
div.leftSubmnu a{font-size:11px;text-decoration:none;color:#000000;}
div.leftSubmnu a:hover{text-decoration:underline;}

.leftmnu{background-image: url(/Images/black_box.gif);background-repeat: no-repeat;width:175px;height:19px;padding:8px 10px 5px 15px;}
.leftmnu a{font-size:11px;text-decoration:none;color:#000000;}
.leftmnu a:hover{text-decoration:underline;}

div.leftSubmnuF{width:150px;height:14px;padding:4px 10px 4px 20px;margin-left:7px;background-image: url(/Images/arrow_bullet.png);background-repeat: no-repeat;background-position:12px 8px;}
div.leftSubmnuF a{ font-size:11px;text-decoration:none;color:#000000;}
div.leftSubmnuF a:hover{text-decoration:underline;}

.leftmnuF{font-weight:bold; padding:8px 10px 5px 15px;}
.leftmnuF a{font-size:11px;text-decoration:none;color:#000000;}
.leftmnuF a:hover{text-decoration:underline;}


.arrow_expanded{margin: 25px 0px 0px 0px;height:100%;padding:25px 0px 0px 0px; width:18px;float:left;}
.arrow_collapsed{margin: 25px 0px 0px 0px;height:100%;padding:25px 0px 0px 0px; width:18px;float:left;}
.printFrame{background-image: url(/Images/print.gif);background-repeat: no-repeat; background-position:8px 17px; padding:20px 0px 10px 30px;}
.printFrame a{color:#000000;text-decoration:none;font-size:11px;}
.printFrame a:hover{text-decoration:underline;}