@charset "utf-8";
/* CSS Document */

body{margin:0px; padding:0px;}
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {	display: block;}

@font-face {
    font-family: 'dinbold';
    src: url(../fonts/din_bold_font_download.eot);
    src: url(../fonts/din_bold_font_download.eot?#iefix) format('embedded-opentype'),
         url(../fonts/din_bold_font_download.woff) format('woff'),
         url(../fonts/din_bold_font_download.ttf) format('truetype'),
         url(../fonts/din_bold_font_download.svg#dinbold) format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'dinregular';
    src: url(../fonts/din-regular-1361534659.eot);
    src: url(../fonts/din-regular-1361534659.eot?#iefix) format('embedded-opentype'),
         url(../fonts/din-regular-1361534659.woff) format('woff'),
         url(../fonts/din-regular-1361534659.ttf) format('truetype'),
         url(../fonts/din-regular-1361534659.svg#dinregular) format('svg');
    font-weight: normal;
    font-style: normal;

}
.wqraper{width:100%;}

.logo{width:273px; height:59px; float:left;}
.rightheader{width:350px; float:right; margin-top:25px;display:block;}
.rightheader ul{padding:0px; margin:0px; list-style:none;}
.rightheader ul li{float:left; margin-left:25px;}
.rightheader ul li a{font-family:'dinregular', arial; color:#24b4e8; font-size:16px; text-decoration:none;}
.rightheader ul li a:hover{color:#e96109;}
.user{background:url(../images/auction/user.gif) no-repeat 0px 4px; padding-left:22px;}
.acount{background:url(../images/auction/account.gif) no-repeat 0px 6px; padding-left:22px;}
.login{background:url(../images/auction/login.gif) no-repeat 0px 4px; padding-left:22px;}
.main_header{width:960px; margin:0px auto; padding:15px 0px 20px;}

.clear{clear:both;}
.probxwrap{margin-top:25px;}


.menu{background:#24b4e8; border-bottom:1px solid #3190b8;}
.innerwraper{width:960px; margin:0px auto;}
.main_nav{width:600px; float:left;}
.main_nav ul{padding:0px; margin:0px; list-style:none;}
.main_nav ul li{margin:0px; float:left;}
.main_nav ul li a{color:#fff; text-decoration:none; text-transform:uppercase; font-size:16px;  font-family: 'dinbold'; padding:12px 34px; display:block;}
.main_nav ul li a:hover{background:#1998c6;}
.categories{width:178px; float:right; background:url(../images/auction/categorie_btn.gif) repeat-x 0px 0px; padding:0px 10px; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; margin-top:5px;}
.categories a{font-family: 'dinbold'; font-size:18px; color:#fff; background:url(../images/auction/white-arrrow.png) no-repeat right 14px; padding:4px 0px 8px 10px; text-decoration:none; display:block;}

.slesbx{width:184px; float:right; margin-top:0px;}
.slesbx a{background:url(../images/auction/sales_info_bg.png) no-repeat 0px 0px; color:#0084b2; text-decoration:none; font-size:13px; text-align:center; font-family: 'dinbold'; padding:5px 0px 15px; width:184px; display:block;}

.content{background:#f4f4f4;}
.seprator{border-top:1px solid #e2e3e5; position:relative; top:40px;}
.title{font-family: 'dinbold'; font-size:24px; color:#323232; font-weight:normal; text-transform:uppercase; position:relative; background:#f4f4f4; width:172px;}

.slctmenu{float:right;}
.slc{border:solid 1px #d0d0d0; padding:2px; border-radius:3px; -webkit-border-radius:3px; -moz-border-radius:3px; -moz-box-shadow: inset 0 0 10px 1px #ececec;
-webkit-box-shadow: inset 0 0 10px 1px #ececec; box-shadow: inset 0 0 10px 1px #ececec; position:relative; top:26px;}

.box{background:#fff; width:300px; min-height:443px; text-align:center; padding:15px 10px; -moz-box-shadow: 2px 2px 2px 1px #e5e5e5;
-webkit-box-shadow: 2px 2px 2px 1px #e5e5e5; box-shadow: 2px 2px 2px 1px #e5e5e5; float:left; margin-bottom:30px;}

.txtbx .btn{width:120px; float:left; margin-top:14px;}
.txtbx .btnorng a{background:url(../images/auction/orng_btn.gif) repeat-x 0px 0px; font-family: 'dinbold'; font-size:18px; color:#fff; text-transform:uppercase; font-weight:normal; text-align:center; text-decoration:none; padding:6px 0px 7px; border-radius:2px; -webkit-border-radius:2px; -moz-border-radius:2px; display:block;}
.txtbx .btnblu a{background:url(../images/auction/blue_btn.gif) repeat-x 0px 0px; font-family: 'dinbold'; font-size:18px; color:#fff; text-transform:uppercase; font-weight:normal; text-align:center; text-decoration:none; padding:6px 0px 7px; border-radius:2px; -webkit-border-radius:2px; -moz-border-radius:2px; display:block;}
.timetxt{width:100px; float:left; margin-left:20px; text-align:left;}
.txtbx{border-top:5px solid #24b4e8; padding:0px 10px; width:100%; word-break:break-all;}

.txtbx h1{font-family: 'dinbold'; font-size:20px; color:#323232; font-weight:normal; text-align:left; min-height:100px;}

.txt1{font-family: 'dinbold'; font-size:14px; color:#686868; font-weight:normal;}
.txt2{font-family: 'dinregular'; font-size:27px; color:#24b4e8; font-weight:normal; line-height:24px;}
.txt3{font-family: 'dinregular'; font-size:15px; color:#686868; font-weight:normal; display:block; margin-top:-6px;}
.lnks {float:left;}
/*.box1 .proimg img{ margin-top:40px;}*/
.box .proimg{ min-height:255px; padding:0px 0px 15px;}
.box2, .box5, .box8{margin:0px 30px;}
.mainfooter{width:100%; background:#3e3e3e; padding:20px 0px;}
.innerwrap{width:960px; margin:0px auto;}
.mainfooter .lnks h1{font-family: 'dinregular'; font-size:20px; color:#fff; font-weight:normal;}
.lnks ul{float:left; padding:0px; margin:0px 75px 0px 0px; list-style:none;}
.lnkwbx1 ul li{font-family:Arial, Helvetica, sans-serif;}
.lnkwbx1 ul li a{font-size:13px; text-decoration:none; color:#fff; background:url(../images/auction/bullet.gif) no-repeat 0px 4px; padding-left:15px;}

.lnkwbx2 ul li{font-family:Arial, Helvetica, sans-serif; float:left; margin-right:5px;}
.lnks span{color:#fff; font-family:Arial, Helvetica, sans-serif; font-size:13px;}
.lnks span .email{color:#ffa605; text-decoration:none;}
.lnks{margin-right:82px;}
.lnkwbx3{margin-right:0px;}

.copyright{text-align:center; width:100%;color:#939393; font-family:Arial, Helvetica, sans-serif; font-size:13px; padding:11px 0px;}
img{border:none;}
.close{background:url(../images/auction/cross.png) no-repeat 0px 0px; width:20px; height:21px; position:relative; float:right; top:10px; right:-35px; cursor:pointer;}


/*=====style.css======*/

.fleft{float: left;}
.fright{float: right;}
.quickContact{float:left; margin-left:15px;}
.margin5{margin: 5px;}
.slesbx{position: relative;}
#form1 p{padding:2px 0px;}

#sales-rep-profile{position: absolute;z-index: 2;right: 0px;top:0px;width: 615px;display: none;background: #e7e7e7;border-left: solid 1px #24b4e8; border-right: solid 1px #24b4e8;border-bottom: solid 1px #24b4e8; -moz-box-shadow: 0px 1px 2px #787878;-webkit-box-shadow: 0px 1px 2px #787878;box-shadow: 0px 1px 2px #787878;-moz-border-radius: 0px 0px 4px 4px;-webkit-border-radius: 0px 0px 4px 4px;;border-radius: 0px 0px 4px 4px;;padding:10px 25px 1px;font-family: tahoma, serif; background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top, #ffffff 0%, #e8e8e8 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e8e8e8)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #ffffff 0%,#e8e8e8 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #ffffff 0%,#e8e8e8 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #ffffff 0%,#e8e8e8 100%); /* IE10+ */
background: linear-gradient(to bottom, #ffffff 0%,#e8e8e8 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e8e8e8',GradientType=0 ); /* IE6-9 */}

#sales-rep-profile .profile input[type='text']{width:185px;border:1px solid #E3E3E3; box-shadow:0 2px 3px 1px #F7F7F7 inset; color:#5f5f5f;}

#sales-rep-profile h2{color: #095075;margin: 0px 0px 16px; font-family: 'dinbold'; font-size:18px; font-weight:normal;}
.txta2{font-family:'dinbold', arial!important;color:#1294c3!important; font-size:13px!important; font-weight:normal!important; text-transform:uppercase; margin:0px!important;}
#sales-rep-profile a{color: #f7c856;background: none;display: inline;}
#sales-rep-profile .profile{font-size: 12px;color:#7a7a7a; }
#sales-rep-profile .profile h2{color: #424242;text-transform: uppercase; font-family: 'dinbold'; font-size:14px; margin-bottom:5px; font-weight:normal; border-radius:3px;}
#sales-rep-profile .profile p{margin: 0px;padding: 3px 0px;}
#sales-rep-profile .profile input{padding: 5px 7px;border: solid 1px #d7d7d7; border-radius:2px; font-size:12px;}
#sales-rep-profile .profile input[type="submit"]{background: #EC650C;color: #FFF;border: none; font-family:'dinbold'; font-size:13px; text-transform:uppercase; cursor:pointer; padding:3px 8px; margin-top:3px;}
#sales-rep-profile .profile .quickContact{padding-left: 25px; background:url(../images/auction/seprtr12.gif) repeat-y 0px 0px;}

.categories{position: absolute; right:10px;}
.sub-categories{position: absolute;top: 33px;right: 0px;z-index: 3;margin: 0px;padding: 0px;display: none;}
.sub-categories li{background-color: #EC650C;list-style: none;margin: 0px;}
.sub-categories li a{font-family:'dinregular', arial;color:#FFF;background:url(../images/auction/prtaor1.gif) repeat-x 0px bottom;padding: 8px 20px; width:178px;font-weight: normal; font-size:15px; text-align:left;}
.sub-categories li a:hover{color:#000;}
.detail .seprator{position:static; padding:10px 0px 0px; margin-top:10px;}
.paging{float:left;}
.paging ul{padding:0px; margin:0px; list-style:none;}
.paging ul li{float:left; color:#4b4b4b; font-family:'dinregular', arial; font-size:13px; margin-right:10px;}
.paging ul li a{color:#0084b2; text-decoration:none; background:url(../images/auction/paging_icon.gif) no-repeat right 6px; padding-right:12px;}
.printbx{width:240px; float:right;}
.printbx ul{padding:0px; margin:0px; list-style:none;}
.printbx ul li{float:left; color:#4b4b4b; font-family:'dinbold', arial; font-size:14px; margin-right:10px;}
.printbx ul li a{color:#ed660d; text-decoration:none;}
.print a{background:url(../images/auction/printer_icon.gif) no-repeat 0px 0px; padding:3px 0px 3px 30px; margin-right:62px;}
.products1{padding-top:10px;}

.lftside{width:358px; float:left; background:#fff; text-align:center; padding:20px 0px 10px 10px;-moz-box-shadow: 0px 0px 5px #ebebeb;-webkit-box-shadow: 0px 0px 5px #ebebeb;box-shadow: 0px 0px 5px #ebebeb;}
.thumbimg ul{list-style:none; margin:0px; padding:0px;}
.thumbimg ul li{float:left; margin-right:5px;}
.thumbimg ul li a{width:109px; text-align:center; background:#fff; display:block; border:1px solid #eee;}
.thumbimg{padding-top:15px;}

.rightside{width:560px; float:right;}
.rightside h1{font-family: 'dinbold'; font-size:18px; color:#323232; font-weight:normal; margin-bottom:0px; margin-top:0px; min-height:60px;}
.grytxt{color:#686868; font-family:'dinregular', arial; font-size:13px;}
.prodetail{background:#fff; border:solid #d9d9d9 1px; margin-top:15px;}
.flttxt{width:50%; float:left;color:#686868; font-family:'dinregular', arial; font-size:18px; padding:8px 20px;}
.flttxt span{color:#ffa605;font-family: 'dinbold';}
.flt1{border-right:solid #d9d9d9 1px; border-bottom:solid #d9d9d9 1px;}
.flt3{border-right:solid #d9d9d9 1px; border-bottom:solid #d9d9d9 1px;}
.flt2{border-bottom:solid #d9d9d9 1px;}
.flt4{border-bottom:solid #d9d9d9 1px;}
.rank{font-family: 'dinbold'; font-size:18px; color:#575757; font-weight:normal; padding:15px 20px 0px;}
.timeleft{padding:20px 20px 0px; font-family: 'dinbold'; font-size:18px; color:#575757; font-weight:normal;}
.tmlft{float:left; margin-right:20px; margin-top:10px;}
.hrtime{float:left;}
.hrtime .txt2{font-size:34px;}
.hrtime .txt3{font-size:19px;}
.typtxt{border:1px solid #e3e3e3; border-radius:2px; -webkit-border-radius:2px; -moz-border-radius:2px; padding:9px; float:left; margin-right:25px; width:240px;-moz-box-shadow: inset 0 2px 3px 1px #f7f7f7;-webkit-box-shadow: inset 0 2px 3px 1px #f7f7f7;box-shadow: inset 0 2px 3px 1px #f7f7f7; color:#5f5f5f;}
.shpmt{background:url(../images/auction/shiping.gif) no-repeat 0px 0px; width:180px; height:35px; display:block;}
.btnship span{color:#686868; font-family:'dinregular', arial; font-size:13px;}
.btnship span .bltxt{color:#0084b2;}
.btnship{float:left;position: relative;}
.shpmthd{padding:20px 20px 15px;}
.shiping-methods{position: absolute;right: 0px;top: 35px;display: none;background: #f4f4f4;border: solid 1px #24B4E8;border-top: none;margin: 0px;padding: 0px;}
.shiping-methods li{list-style: none;float: left;padding: 6px 10px;border-top: solid 1px #24B4E8;width: 100%; font-family:'dinregular', arial; font-size:14px;}
.shiping-methods li:first-child{border-top: none;}
.shiping-methods li:hover{background: #F4F4F4;}
.shiping-methods li a{text-decoration: none;color: #0b90c0;}


.bid{background:url(../images/auction/orng1.gif) repeat-x 0px 0px; font-family: 'dinbold'; font-size:28px; color:#fff; text-transform:uppercase; font-weight:normal; text-align:center; text-decoration:none; padding:6px 0px 5px; border-radius:2px; -webkit-border-radius:2px; -moz-border-radius:2px; display:block; width:240px; float:left; margin-right:20px;}
.bidnw{padding:0px 20px;}
.bynw{color:#5ec8ee; font-family: 'dinbold'; font-size:18px; text-transform:uppercase; font-weight:normal; float:left; margin-top:8px;}
p{font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#6f6f6f; line-height:18px;}
.middlerow{padding:20px 0px; }
.askbx a{color:#595959; font-size:18px; text-decoration:none; font-family:'dinregular', arial;}
.actn{background:url(../images/auction/auction_icon.gif) no-repeat 0px 0px; padding-left:20px; margin-right:20px;}
.ask{background:url(../images/auction/ask_cion.gif) no-repeat 0px 2px; padding-left:20px;}
.hstry{color:#ec6811; text-decoration:none; background:url(../images/auction/bid_histroy_icon.gif) no-repeat 0px 0px; padding: 3px 0px 3px 25px; float:right; font-family:'dinregular', arial;}
.askbx{float:left;}

.pgtitle{font-size:29px; color:#3e3e3e; font-weight:normal; text-decoration:none; font-family:'dinregular', arial;}

.dtltxtbx{background:#fff; padding:0px 25px 25px; border-top: solid 4px #24b4e8; margin-bottom:30px;}

.txtx{font-size:16px; color:#0084b2; font-weight:normal; text-decoration:none; font-family:'dinbold', arial;}
.txt5{color:#1b1a19;}
.txt6{font-size:18px; color:#3d3a37; font-weight:normal; text-decoration:none; font-family:'dinregular', arial; margin-top:20px; line-height:36px;}
.terms p{font-size:16px; color:#3d3a37; font-weight:normal; text-decoration:none; font-family:'dinregular', arial; line-height:22px; margin-top:0px;}
.bltxt1{color:#0084b2; font-weight:normal; text-transform:uppercase; font-family:'dinregular', arial; font-size:16px; margin:0px;}
.qsttxt{border:1px solid #e3e3e3; border-radius:2px; -webkit-border-radius:2px; -moz-border-radius:2px; padding:9px; width:400px; height:120px; -moz-box-shadow: inset 0 2px 3px 1px #f7f7f7;-webkit-box-shadow: inset 0 2px 3px 1px #f7f7f7;box-shadow: inset 0 2px 3px 1px #f7f7f7;}
.sendbtn{background:url(../images/auction/orng_btn.gif) repeat-x 0px 0px; font-family: 'dinbold'; font-size:18px; color:#fff; text-transform:uppercase; font-weight:normal; text-align:center; text-decoration:none; padding:5px 25px; border-radius:2px; -webkit-border-radius:2px; -moz-border-radius:2px; display:block; border:none; cursor:pointer; margin-top:10px; }

.wraper1{padding-bottom:20px;}
.askqstn {margin-bottom:0px;}
.menu .innerwraper{margin:0px auto; padding:0px; position:relative;}
.categories {position: absolute; right:0px;}
.detailbxwrap{padding-top:25px;}




@media screen and (max-width: 640px) {
  .main_nav {position: relative;min-height: 40px;z-index: 2}	
  main_nav{content: 'Menu'}
  .main_nav ul {width: 250px;min-height: 38px;padding: 5px 0px 5px 0px;position: absolute;top: 3px;left: 0;/*border: solid 1px #aaa;*/background:url('../images/auction/icon-menu.png') no-repeat 10px 7px;border-radius: 5px;/*box-shadow: 0 1px 2px rgba(0,0,0,.3);*/}
  .main_nav li {display: none;margin: 0;width: 100%; background: #24B4E8 }
  .main_nav .current {display: block;}
  .main_nav a {display: block;padding: 5px 5px 5px 32px;text-align: left;}
  .main_nav .current a {background: none;color: #666;}
  .main_nav ul:hover {background-image: none;}
  .main_nav ul:hover li {display: block;margin: 0 0 0px;}
  .main_nav ul:hover .current {background: url('../images/auction/icon-check.png') no-repeat 10px 7px;}
  .main_nav.right ul {left: auto;right: 0;}
  .main_nav.center ul {left: 50%;margin-left: -90px;}
}

/* ------------------------------------- */
/**
 * 8.0 Media Queries
 * ----------------------------------------------------------------------------
 */
 
 * {
		box-sizing:border-box;
		-moz-box-sizing:border-box; /* Firefox */

	}
 .clr {
		clear:both;
	}
 

@media (max-width: 1599px) {
		
}

@media (max-width: 1069px) {

}

@media (max-width: 960px) {
	.logo {
		max-width:273px;
		width:100%;
	}
	.logo img{
		max-width:273px;
		width:100%;
	}
	.main_header , .innerwraper, .innerwrap{
		max-width:960px;
		width:100%;
		padding:0px 10px;
		box-sizing:border-box;
		-moz-box-sizing:border-box; /* Firefox */
	}
	.box, .box2, box3  {
		width:30%;
		margin:12px ;
		float:left;
	}
	.box .proimg img   {
		max-width:280px;
		width:100%;
		height:auto;
	}
	.lnks {
		margin-right:60px;
	}
	.lnks ul {
		margin-right:10px;
	}
	
	.main_nav ul {
	width:100%; 
	}
	.main_nav{
		max-width:560px; width:100%; 
	}		
	.menu{margin-top:10px;}
	.box .proimg{min-height:242px;}
	.box7 .proimg, .box8 .proimg{ width:45%; margin:0px auto;}
	.timetxt{margin-top:7px; margin-left:0px;}
	.txtbx h1{font-size:20px;}
	.txtbx .btn{margin-top:5px;}
	.flttxt{ font-size:14px; padding:8px 15px;}
	.rightside{width:410px;}
	.lftside{width:310px;}
	.thumbimg ul li a{width:94px;}
	.typtxt{width:155px;}
	.txtx{font-size:15px;}
	.main_nav ul li a{padding:12px 30px;}

		
}


/* Collapse oversized image and pulled images after iPad breakpoint. */
@media (max-width: 767px) {
	.main_nav{	max-width:194px; width:100%;}
	.lnks {
		margin-right:10px;
	}	
	.lnks ul {
		margin-right:10px;
	}
	.clr {
		display:none;
	}
	
	.main_header, .innerwraper, .innerwrap{width:96%;}
	.box, .box2, box3{margin:20px auto 0px!important; float:none!important;}
	.copyright{padding:10px 0 10px 15px; text-align:left;}
	.txtbx h1{font-size:22px;}
	.txtbx .btn{margin-top:14px;}
	.timetxt{margin-left:20px; margin-top:0px;}
	.box8 .proimg img{max-width:143px; height: auto;}
	.box7 .proimg img{max-width:172px; height: auto;}
	.box9 .proimg img{max-width:240px; height: auto;}
	.box2 .proimg img{max-width:205px; height: auto;}
	.box3 .proimg img{max-width:240px; height: auto;}
	.print a{margin-right:5px;}
	.printbx ul li{font-size:13px; margin-right:10px;}
	.printbx{width:175px;}
	.lftside{width:430px; float:none; margin:0px auto;}
	.thumbimg ul li a{width:109px;}
	.rightside{width:440px;}
	.txtx{font-size:17px;}
	.user{margin-left:0px!important;}
	.menu .innerwraper{width:96%; margin:0px auto; padding:0px; position:relative;}
	.categories {position: absolute; right:10px;}
	.txtbx h1{min-height:100%;}
	.menu{padding-bottom:3px;}
	.rightside h1{height:100%; margin:20px 0px 15px;}
	

	
}

@media (max-width: 643px) {
	.lnks {
		width:100%;
	}	
	.box, .box2, box3  {
		width:100%;
		margin:10px ;
		float:left;
	}
	.main_nav {}
	.rightheader { 
		float:left;
	}
	.box .proimg{min-height:100%;}
	.quickContact{margin-left:15px;}
	
	.fright{float:left;}
	.lftside{width:100%; float:none; margin:0px auto;}
	.rightside{width:100%; float:none; margin:0px auto;}
	.box{min-height:100%;}
	#sales-rep-profile{width:565px;}
	
	
}

/* Mobile devices */
@media (max-width: 480px) {
	.box, .box2, box3  {
		width:100%;
		margin:10px ;
		float:left;
	}
	#sales-rep-profile .profile input[type="text"]{width:100%;}
	.quickContact{margin-left:0px;}
	#sales-rep-profile{width: 300px;}
	#sales-rep-profile .profile .quickContact{padding-left:0px; border:none; float:left; background:none;}
	.title{font-size:19px;}
	.seprator{display:none;}
	.slc{position:static;}
	.rightheader{width:100%;}
	.rightheader ul li{margin-left:15px;}
	.rightheader ul li a{font-size:13px;}
	.rightheader ul .user{margin-left:0px;}
	.main_header, .innerwraper, .innerwrap{width:100%;}
	
	
	
	.box .proimg{min-height:auto;}
	#sales-rep-profile{width:260px;}
	.printbx{float:left; margin:10px 0px;}
	.lftside{width:100%;}
	.thumbimg ul li a{width:90px;}
	.rightside{width:100%;}
	.flttxt{font-size:15px; padding:8px 25px;}
	.btnship{margin-top:12px;}
	.typtxt{width:230px;}
	.bid{margin-bottom:10px;}
	.hstry{margin-top:15px; float:left;}
	.qsttxt{width:100%;}
	.main_nav ul li a{padding:12px 15px; font-size:13px;}
	.main_nav{max-width:150px;}
	.categories {position: absolute; right:5px;}
	
.timetxt {
    margin-left: 15px;
}

	
}

@media (max-width: 320px) {
	
	.title{width:96px; font-size:15px;}
	.rightheader ul li a{font-size:11px;}
	.rightheader ul li{margin-left:6px;}
	.copyright{padding-left:8px; font-size:11px;}
	#sales-rep-profile{width:100%;}
	.paging ul li{margin-right:8px; font-size:12px;}
	.paging ul li a{background:url("../images/auction/paging_icon.gif") no-repeat scroll right 5px rgba(0, 0, 0, 0);}
	.print a{margin-right:30px;}
	.printbx{width:215px;}
	.typtxt{width:100%;}
	.bid{width:100%;}
	.ask{font-size:12px!important; padding:3px 0px 3px 20px;}
	.actn{font-size:12px!important; padding:3px 0px 3px 20px;}
	.txt6{font-size:15px; line-height:26px;}
	.flttxt{font-size:12px;}
	
}

 
 .duplAuction
{
    color: #FCAD35;
    font-size: 12px;
    font-weight: bold;
}

 /*Dhtml tooltip css*/
 
        #upper_left_arrow_new {
            position: absolute;
            left: -300px;
            z-index: 101;
            visibility: hidden;
        }

        /* upper right arrow div */
        #upper_right_arrow_new {
            position: absolute;
            left: -300px;
            z-index: 101;
            direction: rtl;
            text-align: right;
            visibility: hidden;
        }

        /* lower left arrow div */
        #lower_left_arrow_new {
            position: absolute;
            left: -300px;
            z-index: 101;
            visibility: hidden;
        }

        /* lower right arrow div */
        #lower_right_arrow_new {
            position: absolute;
            left: -300px;
            z-index: 101;
            direction: rtl;
            text-align: right;
            visibility: hidden;
        }

        /* main class for pointer arrow */
        .arrow {
            border-color: black;
            border-right-style: solid;
            border-right-width: 2px;
            border-left-style: solid;
            border-left-width: 1px;
            overflow: hidden;
            height: 1px;
            font-size: 1px;
        }

        /* provides border or 'tip' for arrow */
        .arrow_tip {
            background-color: black;
            height: 1px;
            font-size: 1px;
        }

        /* main tip div */
        #dhtmltooltip_new {
            position: absolute;
            left: -300px;
            width: 150px;
            border: 1px solid black;
            padding: 2px;
            background-color: lightyellow;
            visibility: hidden;
            z-index: 100; /*Remove below line to remove shadow. Below line should always appear last within this CSS*/
            filter: progid:DXImageTransform.Microsoft.Shadow(color=gray,direction=135); /* End ToolTip CSS */
        }