﻿.ddpanel .ddpanelcontent
{
    /*CSS for "content" DIV of Drop Down Panel*/
    color: black; /*Do NOT add any "padding" or "margin" properties here! Any padding/margin should be added to your content's container within this DIV instead */
}

.ddpanel .ddpaneltab
{
    /*CSS for "toggle" tab DIV of Drop Down Panel*/ /*margin-right: 20px;*/
    font: normal 12px Arial;
}

.ddpanel .ddpaneltab a
{
    /*"toggle" tab related CSS*/
    float: right;
    color: white; /*background: black url(toggleleft.gif) no-repeat left bottom; background of toggle tab*/
    text-decoration: none;
    letter-spacing: 1px;
}

.ddpanel .ddpaneltab a span
{
    /*"toggle" tab related CSS*/
    float: left;
    display: block; /*background: transparent url(/Images/contactoursalesrep.png) no-repeat right bottom;*/ /*padding: 1px 12px 4px 13px;*/
    cursor: pointer;
}

.ddpanel .ddpaneltab a span img.pointerimage
{
    /*CSS for pointer image within toggle tab*/ /*margin-top: 2px; margin-left: 5px;*/
}

.ddpanel .ddpaneltab a:hover
{
    /*"toggle" tab related CSS*/ /*background-color: navy; background of toggle tab onMouseover*/
}

.ddpanel .ddpaneltab a:active, .ddpanel .ddpaneltab a:focus
{
    /*"toggle" tab related CSS*/
    outline: 0;
}

.ddpanel .ddpaneltab a:hover span
{
    /*"toggle" tab related CSS*/
    background-color: transparent;
}

.RPR1C1
{
    width: 28px;
    background-image: url('/Images/shadow_left_with_blue_sales_rep.png');
    background-position: left;
    background-repeat: repeat-y;
}
.RPR1C2
{
    width: 537px;
    background-color: #C6F2FF;
}
.RPR1C3
{
    width: 251px;
    background-color: #ADDCF0;
}
.RPR1C4
{
    width: 18px;
    background-image: url('/Images/shadow_right_with_blue_sales_rep.png');
    background-position: right;
    background-repeat: repeat-y;
}
.RPR2C1
{
    float:left;
    width:28px;
    height:172px;
    background-image: url('/Images/shadow_left_with_blue_sales_rep.png');
    background-repeat: repeat-y;
}
.RPR2C
{
    width:834px;
    text-align: left;
    border:0px solid blue;
}
.RPR2C2
{
    float:left;
    width:788px;
    background-color: #C6F2FF;
    text-align: left;
    border:0px solid blue;
}
.RPR2C3
{
    width:18px;
    height:172px;
    float:right;
    background-image: url('/Images/shadow_right_with_blue_sales_rep.png');
    background-repeat: repeat-y;
    border:0px solid black;
}
.RPR3C1
{
    float:left;
    width:28px;
    height: 25px;
    background-image: url('/Images/corner1_sales_rep-1.png');
    background-repeat: no-repeat;
}
.RPR3C2
{
    float:left;
    width:788px;
    height: 25px;
    background-image: url('/Images/corner2_sales_rep-1.png');
    background-repeat: repeat-x;
    border:0px solid green;
}
.RPR3C2C
{
    float:left;
      height: 25px;
      width:12px;
    background-image: url('/Images/corner_reverse_L_sales_rep.png');
    background-repeat: no-repeat;
    background-color:White;
}
.RPR3C3
{
    width:18px;
    height:25px;
    float:left;
    background-image: url('/Images/shadow_right_with_blue_sales_rep.png');
    background-repeat: repeat-y;
    border:0px solid black;
}
.RPR4C3
{
    padding-right: 14px;
}
.RPImage
{
    float: left;
    width: 100px;
    margin-top: 15px;
    text-align: center;
}
.RPContact
{
    float: left;
    width: 190px;
    margin-top: 15px;
}
.RPContactName
{
    color: #0B457B;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
}
.RPContactPhone
{
    font-size: 13px;
    line-height: 1.4em;
}
.RPContactForm
{
    float: left;
    width: 230px;
    margin-top: 15px;
    padding-left: 29px;
    border-left: 1px solid #ADDCF0;
}
.RPContactSummary
{
    width: 200px;
    height: 157px;
    padding: 15px 0px 0px 38px;
    display: block;
    float: right;
    background-color: #ADDCF0;
    
}
.RPContactTitle
{
    font-weight: bold;
    font-size: 15px;
    font-style:italic;
    font-family: pcchead, Arial;
}
.RPTextBox
{
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    overflow: auto;
}
.RPTextBox_S
{
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
}
.WaterMarkedTextBox
{
    width: 175px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    overflow: auto;
    background-color: #F0F8FF;
    color: gray;
    font-size: 8pt;
    text-align: left;
}
.RPMsg{padding:0px 0px 0px 10px;}