/* Elastislide Style */
.es-carousel-wrapper{
	/*background: #101010;
	padding:10px 27px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	position:relative;
	-moz-box-shadow:0px 1px 3px rgba(0, 0, 0, 0.9);
	-webkit-box-shadow:0px 1px 3px rgba(0, 0, 0, 0.9);
	box-shadow:0px 1px 3px rgba(0, 0, 0, 0.9);
	margin-bottom:20px;*/
	position:relative;
}

html>/**/body .es-carousel { overflow:hidden; padding-left: 15px; margin-top: -10px; }

.es-carousel{
	overflow:hidden;
	/*background:#000;*/
	/*width:293px;*/
	margin:0px auto;
	/*padding-left:5px;*/

}

@-moz-document url-prefix()  
{
    .es-carousel {
              margin-top: 10px;
              
              }
        }


.es-carousel ul{
	display:none;
    padding: 0px;
    margin: 0px;
}
.es-carousel ul li{
	height:100%;
    width: 91px;
	float:left;
	display:block;
    text-align: center;
    margin:0px 4px;
}
.es-carousel ul li a{
	display:block;
	border-style:solid;
	border-color:#e0e0e0;
	opacity:0.8;
	-webkit-touch-callout:none;
	/* option */
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	padding-top:8px;
}
.es-carousel ul li.selected a{
	border-color:#24B4E8;
	opacity:1.0;
}
.es-carousel ul li a img{
	/*display:block;*/
	border:none;
	max-height:100%;
	max-width:100%;
	height: 100%;
}
.es-nav span{
	position:absolute;
	top:50%;
	*top/*\**/:40px\9;
	left:0px;
	background:transparent url(../images/auction/nav_thumbs.png) no-repeat top left;
	width:14px;
	height:26px;
	margin-top:-13px;
	text-indent:-9000px;
	cursor:pointer;
	opacity:0.8;
}
.es-nav span.es-nav-next{
	right:0px;
	left:auto;
	background-position:top right;
}
.es-nav span:hover{
	opacity:1.0;
}


.rg-thumbs{padding-top:15px;}