 @font-face {
    font-family: "pcchead";    
   src: url('/fonts/FutuLt.eot');
    
}

 @font-face {
    font-family: 'UniSansRegular';
    src: url('/fonts/Uni_Sans_Regular-webfont.eot');
    src: url('/fonts/Uni_Sans_Regular-webfont.eot?iefix') format('eot'),
         url('/fonts/Uni_Sans_Regular-webfont.woff') format('woff'),
         url('/fonts/Uni_Sans_Regular-webfont.ttf') format('truetype'),
         url('/fonts/Uni_Sans_Regular-webfont.svg#webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}
