﻿@font-face {
    font-family: 'dinregular';
    src: url(../fonts/osp_din.eot);
    src: url(../fonts/osp_din.eot?#iefix) format('embedded-opentype'),
         url(../fonts/osp_din.woff) format('woff'),
         url(../fonts/osp_din.ttf) format('truetype'),
         url(../fonts/osp_din.svg#dinregular) format('svg');
    font-weight: normal;
    font-style: normal;

}


.pgtitle{font-size:29px; color:#3e3e3e; font-weight:normal; text-decoration:none; font-family:arial; }