﻿@font-face {
    font-family: 'dinbold';
    src: url(../fonts/din_bold_font_download.eot);
    src: url(../fonts/din_bold_font_download.eot?#iefix) format('embedded-opentype'),
         url(../fonts/din_bold_font_download.woff) format('woff'),
         url(../fonts/din_bold_font_download.ttf) format('truetype'),
         url(../fonts/din_bold_font_download.svg#dinbold) format('svg');
    font-weight: normal;
    font-style: normal;

}



div.topR2
{
    clear: both;
    display: block;
    text-align: left;
    padding: 5px 0px 2px 0px;
    background: url('/Images/Menu/strip-blue.jpg');
    background-repeat: repeat-x;
    background-position: 0% 100%;
}
#place_login
{
    width: 400px;
    margin-top: 50px;
    height: 200px;
    border: 2px solid #375A82;
}

.place_login_R1
{
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    margin-top: 10px;
    border: 0px solid red;
    height: 30px;
}

.place_login_R2
{
    text-align: left;
    font-weight: normal;
    font-size: 14px;
    padding: 20px;
    padding-left: 50px;
    border: 0px solid red;
}

.heading
{
    font-weight: normal;
    font-size: 21px;
    text-align: left;
    padding: 10px;
    padding-left: 15px;
    font-family:pcchead,arial;
}
.txt_box
{
    height: 15px;
    width: 200px;
    border: 1px solid rgb(84,111,140);
}

.dv_main_content_left
{
    float: left;
    width: 494px;
}

.dv_main_content_right
{
    float: right;
    width: 491px;
}

.right_content_tb
{
    width: 100%;
    padding: 3px;
    padding-top: 0px;
}

.right_content_tb td
{
    padding: 4px;
}

.dv_md_heading
{
    font-size: 18px;
    text-align: left;
    background: url('/images/centre-line.gif') repeat-x;
    height: 30px;
    width: 100%;
    padding-top: 7px;
    font-weight: bold;
    margin-bottom: 10px;
}
.dv_page_heading
{
    font-size: 19px;
    text-align: left;
    border-bottom: 2px solid #AA1214;
    height: 30px;
    width: 100%;
    padding-top: 7px;
    font-weight: bold;
    margin-bottom: 10px;
    font-family:pcchead,arial;
}
.lbl_page_heading
{
    color: #AA1214;
}
.dv_md_sub_heading
{
    font-size: 11px;
    text-align: left; /*background: url('/images/centre-line2-rak.gif') repeat-x;*/
    padding-top: 4px;
    font-weight: bold;
    margin-top: 4px;
    margin-bottom: 4px;
    padding-left: 15px;
}
.aucQryHeading
{
    font-size: 12px;
    text-align: left;
    padding-top: 4px;
    font-weight: bold;
    margin-top: 4px;
    margin-bottom: 4px;
    padding-left: 15px;
    color: #0D8FB0;
}
.dv_md_sub_heading1
{
    font-size: 14px;
    text-align: left;
    background: url('/images/centre-line2-rak.gif') repeat-x;
    height: 32px;
    font-weight: bold;
    padding-left: 5px;
}


.dv_md_heading_help
{
    display: block;
    background: url('/images/centre-line.gif') repeat-x;
    height: 30px;
    width: 30px;
    float: left;
    text-align: left;
    padding-top: 10px;
}


.dv_md_heading33
{
    font-size: 18px;
    text-align: left;
    background: url('/images/centre-line.gif') repeat-x;
    height: 40px;
    padding-top: 10px;
    font-weight: bold;
}

.dv_md_heading30
{
    font-size: 18px;
    text-align: left;
    background: url('/images/centre-line.gif') repeat-x;
    height: 30px;
    width: 951px;
    float: left;
    padding-top: 10px;
    padding-left: 3px;
    font-weight: bold;
}
.dv_md_heading_corner
{
    display: block;
    background: url('/images/corner.gif') no-repeat;
    height: 40px;
    width: 10px;
    float: left;
}
.div_profile_main_heading
{
    padding: 7px;
    padding-left: 15px;
    font-weight: bold;
    font-size: 14px;
    background-image: url('/images/centre-line3.gif');
    background-repeat: repeat-x;
}
.div_profile_content_heading
{
    background-color: #EEEEEE;
    padding-top: 7px;
    padding-left: 14px;
    font-size: 14px;
    font-weight: bold;
    background-image: url('/images/centre-line2.gif');
    background-repeat: repeat-x;
    height: 25px;
}

.div_profile_main_heading22
{
    padding: 7px;
    padding-left: 15px;
    font-weight: bold;
    font-size: 20px;
}


.div_profile_content
{
    background-color: #FAFAFA;
    padding-top: 0px;
    padding-left: 15px;
    font-size: 12px;
    font-weight: normal;
}
.div_profile_text_left
{
    width: 50%;
    float: left;
    padding: 1px 0px 1px 0px;
}
.div_profile_text_right
{
    width: 49%;
    float: right;
    padding: 1px 0px 1px 0px;
}
.div_profile_textbox
{
    width: 180px;
    border: 1px solid #CBD7E3;
    height: 16px;
}

.dv_seller_basic_logo
{
    float: left;
    width: 90px;
}

.dv_seller_basic_up
{
    float: left;
    width: 190px;
}

.dv_seller_basic_chk
{
    float: right;
    width: 102px;
}

.drop_down
{
    width: 170px;
    height: 22px;
    padding: 2px;
    border: 1px solid rgb(84,111,140);
    background-color: #F0F0F0;
}
.error
{
    font-size: 11px;
    color: Red;
}
.req_star
{
    font-size: 10px;
    color: Red;
}
.td_caption
{
    font-weight: bold;
    text-align: left;
    vertical-align: top;
    width: 1%;
}

.viewWrap
{
    background: #2291b5 0 0 url(Img/bluegradient.gif) repeat-x;
    padding: 14px;
    border: 1px solid #c3c3c3;
}

.contactWrap
{
    padding: 7px 8px 8px 8px;
    background: #fff;
    color: #333;
    width: 340px;
}

.contactWrap td
{
    padding: 0 10px 0 0;
}

.contactWrap td td
{
    padding: 3px 10px 3px 0;
}

.contactWrap img
{
    border: 1px solid #05679d;
}


.cmp_auc_item, .cmp_auc_alternatingItem
{
    float: left;
    padding: 15px;
    margin: 5px;
    width: 200px;
    height: 100px;
    border: 1px solid threedshadow;
}
.cmp_auc_item_history, .cmp_auc_alternatingItem_history
{
    float: left;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 0px;
    margin: 5px;
    width: 194px;
    height: 120px;
    border: 1px solid threedshadow;
}
.cmp_auc_item
{
    background: whitesmoke !important;
}
.cmp_auc_alternatingItem
{
    background: window !important;
}

.cmp_auc_item:hover, .cmp_auc_alternatingItem:hover
{
    background: silver !important;
}
.blueBack
{
    height: 33px; /*background: url(/Images/blueback.gif) repeat-x;*/
    text-align: left;
    padding-left: 10px; /*color: White;*/
    font-size: 11px;
    font-weight: bold;
    background-color: #A0DCF1;
}
.greenBackSmall
{
    height: 30px;
    border: 1px solid #E4E4E5; /*background: url(/Images/greensmallback.gif) repeat-x;*/
    background-color: #F6F6F6;
    text-align: left;
    padding-left: 10px;
    color: black;
    font-size: 11px;
    font-weight: bold;
}
.greenBackSmall_down
{
    padding-top: 5px;
}
.invSubHeading
{
    padding: 10px 0px 0px 0px;
    font-size: 14px;
    font-weight: bold;
}
.greenBack
{
    border-right: 1px solid #E4E4E5;
    background: url(/Images/greenback.gif) repeat-x;
    text-align: left;
    padding-left: 10px;
}
.captiongreen
{
    font-weight: bold;
    text-align: left;
    color: #84974A;
    padding: 10px;
    text-align: left;
    vertical-align: top;
    border-bottom: 1px dotted #DDDDDD;
}
.invBack
{
    border-right: 1px solid #E4E4E5;
    border-left: 1px solid #E4E4E5;
    border-bottom: 1px solid #E4E4E5;
    background: url(/Images/invitation_back.gif) repeat-x;
    background-position: 0% 100%;
    text-align: left;
    padding-left: 10px;
}
.invTypeCaption
{
    font-weight: bold;
    text-align: left;
    vertical-align: top;
    color: #203C65;
}
.whitelink
{
    color: White;
    font-size: 12px;
    font-weight: bold;
}

.TabView
{
    border: 1px solid #3D556C;
    padding-top: 10px;
}
.TabView_new
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    padding-top: 10px;
}
.TabGrid
{
    background-color: #FFFFFF;
    padding: 0px;
    margin: 0px;
}
.Table_new
{
    border: 0px;
    width: 100%;
    background-color: #C3D3E3;
}
.Button_new
{
    background-color: #375A82;
    color: White;
    font-weight: bold;
    border: 0px;
    padding: 2px;
}
.WaterMarkedTextBox
{
    width: 100%;
    height: 70px;
    border: 1px solid #C1C1C1;
    background: #eeefee;
    color: gray;
    display: inline-block;
    padding: 0 0 0 7px;
}
.WaterMarkText
{
    width: 100%;
    height: 70px;
    border: 1px solid #C1C1C1;
    background: #eeefee;
    display: inline-block;
    padding: 0 0 0 7px;
}
.downArr
{
    background: url(/Images/arrow_down.gif) no-repeat;
    text-align: left;
    padding-left: 10px;
    width: 16px;
    height: 14px;
    display: block;
}
.collapsePanel
{
    width: 100%;
}
.collapsePanelHeader
{
    width: 100%;
    height: auto;
    clear: both;
}

#dhtmltooltip
{
    position: absolute;
    width: 150px;
    border: none;
    padding: 2px;
    visibility: hidden;
    z-index: 100;
    background-color: lightyellow; /*Remove below line to remove shadow. Below line should always appear last within this CSS*/
    filter: progid:DXImageTransform.Microsoft.Shadow(color=gray,direction=135);
}

#dhtmlpointer
{
    position: absolute;
    left: -300px;
    z-index: 101;
    visibility: hidden;
    border: none;
}
/* Begin ToolTip CSS */
/* upper left arrow div */
#upper_left_arrow_new
{
    position: absolute;
    left: -300px;
    z-index: 101;
    visibility: hidden;
}

/* upper right arrow div */
#upper_right_arrow_new
{
    position: absolute;
    left: -300px;
    z-index: 101;
    direction: rtl;
    text-align: right;
    visibility: hidden;
}

/* lower left arrow div */
#lower_left_arrow_new
{
    position: absolute;
    left: -300px;
    z-index: 101;
    visibility: hidden;
}

/* lower right arrow div */
#lower_right_arrow_new
{
    position: absolute;
    left: -300px;
    z-index: 101;
    direction: rtl;
    text-align: right;
    visibility: hidden;
}

/* main class for pointer arrow */
.arrow
{
    border-color: black;
    border-right-style: solid;
    border-right-width: 2px;
    border-left-style: solid;
    border-left-width: 1px;
    overflow: hidden;
    height: 1px;
    font-size: 1px;
}

/* provides border or 'tip' for arrow */
.arrow_tip
{
    background-color: black;
    height: 1px;
    font-size: 1px;
}

/* main tip div */
#dhtmltooltip_new
{
    position: absolute;
    left: -300px;
    width: 150px;
    border: 1px solid black;
    padding: 2px;
    background-color: lightyellow;
    visibility: hidden;
    z-index: 100; /*Remove below line to remove shadow. Below line should always appear last within this CSS*/
    filter: progid:DXImageTransform.Microsoft.Shadow(color=gray,direction=135); /* End ToolTip CSS */
}


div.block_without_border
{
    width: 100%;
    margin-top: 10px;
    float: left;
}

.sub_heading_blue
{
    color: #2B83CA;
    font-weight: bold;
    font-size: 12px;
    padding-bottom: 10px;
}

.black_heading
{
    font-size: 14px;
    font-family: Arial;
    font-weight: bold;
}
.outer_div_scroll
{
    overflow-y: scroll;
    padding: 15px;
    background-color: #F9F9F9;
}
.outer_div_without_scroll
{
    padding: 15px;
    background-color: #F9F9F9;
    overflow: hidden;
}
.inner_div_content
{
    padding-bottom: 10px;
    text-align: justify;
    line-height: 17px;
    height: 100px;
}
.view_more
{
    float: right;
    padding-top: 6px;
    padding-right: 20px;
    color: #2B83CA;
    font-size: 12px;
}
.inner_div_content_comment
{
    padding-bottom: 10px;
    text-align: justify;
    line-height: 17px;
    height: 70px;
}
.WaterMarkedTextBox1
{
    border: 1px solid #C1C1C1;
    color: gray;
    display: inline-block;
    padding: 0 0 0 7px;
}
.WaterMarkText1
{
    border: 1px solid #C1C1C1;
    display: inline-block;
    padding: 0 0 0 7px;
}
.frame_bg
{
    /*background-color: #F4F3F0;*/
    font-size: 18px;
    text-align: left;
    font-weight:normal;   
    color: #575757;
    font-weight: bold;
    width: 400px;
    height: 40px;
    display: block;
    vertical-align: middle;
    /*font-family: Verdana;*/
}

.duplAuction
{
    color: #FCAD35;
    font-size: 12px;
    font-weight: bold;
}
.filterBy
{
    font-size: 11px;
    font-weight: normal;
}
.filterByBold
{
    font-size: 11px;
    font-weight: bold;
}

.aucImageBackend
{
    width: 100px;
    height: 120px;
    padding: 2px;
    border: 2px solid gray;
}
.back_brown
{
    padding-left: 10px;
    padding-right: 10px;
    background-color: #d4d3d3;
}
.statusTitle
{
    font-weight: bold;
    font-size: 13px;
    padding-left: 7px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: underline;
}
.statusSectionTitle
{
    font-size: 14px;
    font-weight: bold;
    border-bottom: 1px solid #ededed;
    border-top: 1px solid #ededed;
    padding: 5px 10px 5px 10px;
    height: 21px;
    background: url(/Images/grrdnt_gray.gif) repeat-x;
}
.statusSectionheading
{
    font-weight: bold;
    font-size: 13px;
    padding: 10px 0px 10px 0px;
    text-decoration: underline;
}
.statusTimeBack
{
    font-size: 12px;
    float: right;
    width: 180px;
    font-weight: bold;
    text-align:center;
    padding: 3px 0px 3px 8px;
    height: 15px;
    background: url(/Images/time-bg.png) no-repeat;
}
.statusSecBack
{
    background-color: #fafafa;
    padding: 10px;
}
.winnerImg
{
    color: Red;
    font-size: 14px;
    font-weight: bold;
    background-image: url('/images/up_1.png');
    background-repeat: no-repeat;
    background-position: 10px 7px;
    padding: 8px 0px 5px 35px;
}
.looserImg
{
    color: #6b6b6b;
    font-size: 14px;
    font-weight: bold;
    background-image: url('/images/down_1.png');
    background-repeat: no-repeat;
    background-position: 10px 7px;
    padding: 8px 0px 5px 35px;
}
.winnerSubString
{
    color: #6b6b6b;
    font-size: 10px;
    font-weight: normal;
    padding: 1px 0px 1px 35px;
    font-weight: bold;
}
.statusCompany
{
    padding: 0px 0px 5px 20px;
}
.statusCompany a
{
    color: #302F30;
    font-size: 12px;
    font-weight: bold;
    text-decoration: underline;
}
.statusCompany a:hover
{
    text-decoration: none;
}
.statusCompanyDetails
{
    color: #6b6b6b;
    font-size: 11px;
    font-weight: normal;
    padding: 1px 0px 1px 20px;
}
.statusCompanyDetails a
{
    color: #6b6b6b;
    font-size: 11px;
    font-weight: normal;
    text-decoration: none;
}
.statusCompanyDetails a:hover
{
    text-decoration: underline;
}
.ORUP
{
    color: black;
    font-size: 14px;
    font-weight: bold;
    background: url('/images/greensmallback.gif');
    background-repeat: repeat-x;
    padding: 5px 0px 5px 8px;
    border-top: 1px solid #9CB6C5;
    border-right: 1px solid #9CB6C5;
    border-left: 1px solid #9CB6C5;
}
.winnerArrow
{
    float: left;
    background-image: url('/images/current.gif');
    background-repeat: no-repeat;
    width: 105px;
    height: 169px;
    background-position: 0% 50%;
    display: block;
    padding: 10px 0px 10px 0px;
}
.looserArrow
{
    float: left;
    background-image: url('/images/first.gif');
    background-repeat: no-repeat;
    width: 105px;
    height: 169px;
    background-position: 0% 50%;
    display: block;
    padding: 10px 0px 10px 0px;
}
.looserMostArrow
{
    float: left;
    background-image: url('/images/second.gif');
    background-repeat: no-repeat;
    width: 105px;
    height: 169px;
    background-position: 0% 50%;
    display: block;
    padding: 10px 0px 10px 0px;
}
.winnerPrice
{
    float: left;
    width: 150px;
    height: 159px;
    display: block;
    padding: 20px 0px 10px 0px;
    color: Red;
    font-size: 16px;
    font-weight: bold;
}
.looserPrice
{
    float: left;
    width: 150px;
    height: 159px;
    display: block;
    padding: 20px 0px 10px 0px;
    color: #6b6b6b;
    font-size: 16px;
    font-weight: bold;
}
.winnerCompany
{
    float: left;
    width: 193px;
    height: 159px;
    display: block;
    padding: 20px 0px 10px 0px;
}
.winnerCompanyTitle
{
    color: #302F30;
    font-size: 13px;
    font-weight: bold;
    padding-bottom:5px;
    height: 20px;
}
.winnerCompanyDetails
{
    color: #6b6b6b;
    font-size: 11px;
    text-align: left;
}
.wonLot
{
    color: black;
    font-size: 12px;
    font-weight: bold;
    padding: 18px 0px 10px 0px;
}
.lotDetals
{
    color: #6b6b6b;
    font-size: 10px;
    font-weight: bold;
    background-image: url('/images/arrow_small_black.jpg');
    background-repeat: no-repeat;
    background-position: 2px 5px;
    padding: 2px 0px 2px 15px;
}

.buyNowArea
{
    background-color: White;
    height: 235px;
    width: 200px;
    display: block;
    text-align: left;
    float: left;
    padding: 10px 0px 10px 30px;
    
}
.buyNowAreaAccept
{
    height:110px;
    width: 210px;
    display: block;
    text-align: left;
    float: left;
    padding: 10px 0px 10px 30px;
   
}
.buyNowAreaActionLabel
{
    font-size:13px;
    font-weight:bold;
    color:#606060;
    padding:10 0 5 0;
    height:20px;    
}
.quoteNowArea
{
    background-color: White;
    height: 330px;
    width: 220px;
    display: block;
    text-align: left;
    float: left;
    padding: 10px 0px 10px 20px;
}
.buyPrice
{
    display: block;
    padding: 5px 0px 5px 0px;
    color: Red;
    font-size: 18px;
    font-weight: bold;
}
.buyQty
{
    color: #6b6b6b;
    font-size: 10px;
    font-weight: bold;
    height: 10px;
    display: block;
}
.buyTime
{
    color: #6b6b6b;
    font-size: 10px;
    font-weight: bold;
    height: 10px;
    display: block;
    white-space:nowrap;
}
.buyShipping
{
    color: #6b6b6b;
    font-size: 10px;
    font-weight: bold;
    height: 20px;
    display: block;
    margin-top:5px;
    
}
.dashbought
{
    width: 312px;
    text-align: center;
    padding-top: 10px;
    height: 20px;
    display: block;
}
.dashbought a
{
    color: #B19C69;
    font-weight: bold;
    text-decoration: none;
}
.dashbought a:hover
{
    color: #B19C69;
    font-weight: bold;
    text-decoration: underline;
}
.close_modal{float:right;width:20px; height:20px;}
.modalHeading{ color:Black; background-color: #F2F2F2; height: 24px;font-size: 14px; font-weight: bold; padding-top: 6px;padding-right: 6px;text-align:center;}
.modalNote{ color: #FE9901; text-align:center; padding: 0px 0px 5px 0px;font-weight:bold;}
.modalNoteP{ color: gray; text-align:center; height:10px;padding:5px 0px 5px 0px;font-weight:normal;}
.modalBody{text-align:center;padding:20px 25px 5px 25px; height:150px;}
.modalCaption{font-weight: bold;text-align:right;}
.grid_sel_backcolor {
    background-color:#FFAA55;
}

.bidlimitpop
{
    float:left;
    font-family: 'dinbold'; font-size:18px; color:#323232; font-weight:normal;
    padding:20px;
    }
    
.bidlimitpop a
{
    text-decoration:underline;
    color:#323232;
    } 
.bidlimitpop a:hover
{
    text-decoration:none;
    color:#323232;
    }  
      