﻿/* add fonts
@font-face {https://www.t-mobileadvantagedirect.com/Plans.aspx?at=new&pc=em&pt=dp&cid=ECB2C2D1-7244-43A1-8C86-188854F42FC8-0-0
    font-family: 'UniSansRegular';
    src: url('/assets/common/Uni_Sans_Regular-webfont.eot');
    src: url('/assets/common/Uni_Sans_Regular-webfont.eot?iefix') format('eot'),
         url('/assets/common/Uni_Sans_Regular-webfont.woff') format('woff'),
         url('/assets/common/Uni_Sans_Regular-webfont.ttf') format('truetype'),
         url('/assets/common/Uni_Sans_Regular-webfont.svg#webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UniSansSemiBoldRegular';
    src: url('/assets/common/Uni_Sans_Semi_Bold-webfont.eot');
    src: url('/assets/common/Uni_Sans_Semi_Bold-webfont.eot?iefix') format('eot'),
         url('/assets/common/Uni_Sans_Semi_Bold-webfont.woff') format('woff'),
         url('/assets/common/Uni_Sans_Semi_Bold-webfont.ttf') format('truetype'),
         url('/assets/common/Uni_Sans_Semi_Bold-webfont.svg#webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UniSansSemiBoldItalic';
    src: url('/assets/common/Uni_Sans_SemiBoldItalic-webfont.eot');
    src: url('/assets/common/Uni_Sans_SemiBoldItalic-webfont.eot?iefix') format('eot'),
         url('/assets/common/Uni_Sans_SemiBoldItalic-webfont.woff') format('woff'),
         url('/assets/common/Uni_Sans_SemiBoldItalic-webfont.ttf') format('truetype'),
         url('/assets/common/Uni_Sans_SemiBoldItalic-webfont.svg#webfont') format('svg');
    font-weight: normal;
    font-style: normal;
} */

/* font styles */
body {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: 16px;
	color: #666666;
}
	p {
		margin: 0;
		padding: 0 0 15px 0;
	}

h1 {
    font-family:'dinbold', arial;
			font-size: 23px;
			line-height: 25px; 
			color: #008db8;
			margin: 0;
			padding: 0 0 3px 0;
			font-weight: normal;
}
		h2{
			font-family:'dinbold', arial;
			font-size: 16px;
			line-height: 18px; 
			color: #00467e;
			margin: 0;
			padding: 0 0 3px 0;
		}
		
	
		h3{
			font-family:'dinbold', arial;
			font-size: 13px;
			line-height: 15px; 
			color: #666666;
			margin: 0;
			padding: 0 0 2px 0;
		}

		h1 + h3, h1 + p, h2 + p, h1 + div, h2 + div{
			padding-top: 12px;
		}
		
		ul{
			padding: 0 0 15px 15px;
			margin: 0;
		}
		
			li{
				padding-bottom: 3px;	
			}
			
			ul ul{
				padding: 3px 0 0 15px;
				margin: 0;
			}
		
		a{
			color: #666666;	
		}
		
			a:hover{
				color: 	#000000;	
			}


/* layout */
body{
	margin: 0;
	padding: 0;
	/*background: #faf9f9; /* gray */*/
}

#bgwrapper{
	background:	#00467e;
	padding: 6px 0 6px 0;
}

#outerwrapper{
	padding: 4px 6px 6px 0;
}

#wrapper{
	width: 960px;
	margin: 0 auto;
	background: #ffffff;
	text-align:left;
}


#headerwrapper{
	padding: 0 0 20px 0;	
}

#header{
	background: url(/images/fend/header_bg.jpg) no-repeat;
}
	body.home #header{
		background: none;
	}

	#topnav{
		text-align: right;	
		float: right;
		padding: 7px 0 10px 0;
		width: 490px;

	}
	
		#topnav ul{
			list-style: none;
			margin: 0;
			padding: 0;
			float: right;
		}
		
		#topnav li{
			display: block;
			float: left;
			list-style: none;
			margin: 0;
			padding: 0 7px;
			
			font-family:  Arial, Helvetica, sans-serif;
			color: #999999;
			font-size: 11px;
			line-height: 15px;
			border-left: 1px solid #999999;
		}
		
			#topnav li.first{
				border: 0px;
			}
			
			li#searchcontainer{
				border: 0px;
				position: relative;
				top: -4px;
			}
			
			#topnav li a{
				font-family:  Arial, Helvetica, sans-serif;
				color: #999999;
				font-size: 11px;
				line-height: 15px;
				text-decoration: none;
			}
			
			#topnav li a:hover{
				text-decoration: underline;
			}
			
			#topnav .searchbox{
				font-size: 11px;
				position: relative;
				top: -5px;
			}

	#logo{
		width: 330px;
		float: left;
		padding: 0 0 0 28px;
        
	}
	
		#logolink{
			position: relative;
			top: -11px;	
		}


	#mainnavwrapper{
		width: 540px;
		float:right;
		padding: 0 15px 0 0;
	}
	
		#mainnav ul{
			list-style: none;
			margin: 0;
			padding: 0;
			float: right;
		}
		
		#mainnav li{
			display: block;
			float: left;
			list-style: none;
			margin: 0;
			padding: 0 0 0 20px;
			
			font-family:  Arial, Helvetica, sans-serif;
			color: #008db8;
			font-size: 12px;
			line-height: 15px;
			text-transform: uppercase;
		}
		
			#mainnav a{
				font-family:  Arial, Helvetica, sans-serif;
				color: #008db8;
				font-size: 12px;
				line-height: 15px;
				text-transform: uppercase;
				text-decoration: none;
			}

			#mainnav a:hover, #mainnav li.selected a{
				text-decoration: underline;
			}
			
		#social{
			padding: 15px 0 0 0;
			text-align: right;	
		}
		
#slider{
	padding: 10px 0 0 0;	
}

#brands{
	padding: 10px 0;
}

	#brandstext{
		float: left;
		width: 120px;
		padding: 15px 0 0 0;
		
		font-family:  Arial, Helvetica, sans-serif;
		color: #87898b;
		font-size: 12px;
		line-height: 15px;
		text-transform: uppercase;
	}

	#brandcontainer{
		float: left;
		width: 825px;
	}

	
	.brandcarried{
		display: inline-block;
		padding: 0 0 0 15px;
	}
	
	.IE6 .brandcarried, .IE7 .brandcarried{
		zoom: 1;
		display: inline;	
	}
	
#homecontent{
	padding: 0 0 0 29px;
}
	
#homeboxes{
	max-width: 896px;
	border-top: 1px solid #cccccc;
	border-left: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	background: #ffffff;
}

	#homeboxcontainer{
		padding: 26px 20px 15px 20px;
	}
	
		#homeboxcontent{
			max-width: 100%;
			float: left;
			
		}


			#homeboxcontent p{
				font-size: 13px;	
				line-height: 16px;
                color:#666666;
			}
			
			#homeboxcontent h1 + p{
				padding-top: 10px;
			}
			
			#homeboxcontent h2 + p{
				padding-top: 0;
			}

		#homeboxcontent h1{
			font-family: 'UniSansRegular',"Trebuchet MS", Arial, Helvetica, sans-serif;
			font-size: 22px;
			line-height: 25px; 
			color: #008db8;
			margin: 0;
			padding: 0 0 3px 0;
			font-weight: normal;
			
		}
	#homeaside{
		width: 252px;
		float: right;
		text-align:left;
		
	}


	#homenewscontainer{
		padding: 30px 0 0 0;	
	}

	
		#homenews{
			float: left;
			width: 318px
		}
		
			#homenews p{
				font-size: 11px;
				line-height: 13px;
			}
		
		
		#homesignup{
			float: right;
			width: 186px;
			font-size: 11px;
			line-height: 13px;
		}
		
			#homesignup p{
				font-size: 11px;
				line-height: 13px;
			}
		
			#homesignup h4{
				font-size: 12px;
				color: #666666;
				line-height: 18px;
				text-decoration: none;
				font-weight: normal;
				padding: 0;
				margin: 0;
				text-transform: none;
			}
			
			#homesignup h5{
				font-family:  Arial, Helvetica, sans-serif;
				font-size: 18px;
				color: #008db8;
				line-height: 20px;
				text-decoration: none;
				
				padding: 0;
				margin: 0;
				font-weight: normal;
			}

		


	#homefooter{
		font-size: 11px;
		line-height: 13px;
		color: #999999;
		padding: 0 0 8px 26px;
	}
	
		#homefooter a{
			font-size: 11px;
			line-height: 13px;
			color: #999999;
			text-decoration: none;	
		}
		
		#homefooter a:hover{
			text-decoration: underline;
		}
		
		
		
		
#secondarycontent{
	background: url(/images/fend/secondary_bg.gif) no-repeat 286px 0px;
	padding: 0 0 41px 0;
	clear: both;
}

	#leftnav{
		width: 223px;
		float: left;
		padding: 0 16px 0 41px;
	}
	
		#leftnav h4{
			font-size: 16px;
			line-height: 18px;
			color: #008fbb;
			text-transform: uppercase;
			
			padding: 0 0 8px 0;
			margin: 0;
		}
			#leftnav h4 a{
				font-size: 16px;
				line-height: 18px;
				color: #008fbb;
				text-transform: uppercase;
				text-decoration: none;
			}

			#leftnav h4 a:hover{
				text-decoration: underline;
			}
		
		#leftnav .secondary ul{
			padding: 0;
			margin: 0;
			list-style: none;
		}
		
			#leftnav .secondary ul{
				padding: 0 0 0 9px;
				margin: 0;
				list-style: none;
			}
			
				#leftnav .secondary ul li{

					padding: 0 0 4px 5px;
					margin: 0;
					list-style: none;				
				}
				
				#leftnav .secondary ul li, #leftnav .secondary ul li a{
					color: #333333;
					font-size: 13px;
					line-height: 15px;
					text-transform: uppercase;
					text-decoration: none;
				}
					#leftnav .secondary ul li a:hover{
						text-decoration: underline; 
					}
					
					
				#leftnav .secondary ul ul{
					padding: 5px 0 10px 0;
					margin: 0;
				}
				
				#leftnav .secondary ul ul li{
					padding: 0 0 4px 9px;
					margin: 0;
					background: url(/images/fend/nav_dash.gif) 2px 7px no-repeat;
				}
				
				#leftnav .secondary ul ul li, #leftnav .secondary ul ul li a{
					color: #666666;
					font-size: 11px;
					line-height: 13px;
					text-decoration: none;
					text-transform: none;
				}
				
				
				.leftnavCMSListMenuHighlightedLI a{
					color: #000000 !important;
					text-decoration: underline !important;
				}
				
					.leftnavCMSListMenuHighlightedLI li a{
						color: #666666; !important;
						text-decoration: none !important;
					}

				
		#leftnav .leftGrayboxwrapper{
			margin: 0 0 0 -60px;
			width: 281px;
		}
	
		#leftnav .leftGraybox{
			border: 1px solid #cccccc;
			background-color: #e0e0e0;
			padding: 20px 40px 20px 12px;
			background-repeat: no-repeat;
			background-position: bottom right;
		}
		
			#leftnav .leftGraybox p{
				font-size: 12px;
				line-height: 16px;
				color: #00467e;
			}
			
			#leftnav .leftGraybox .byline{
				width:	208px;
				text-align: right;
				font-size: 12px;
				line-height: 16px;
				color: #666666;
			}
			
				#leftnav .leftGraybox .byline p{
					text-align: right;
					font-size: 12px;
					line-height: 16px;
					color: #666666;
				}
			
			
			
		#leftnav .leftcontentbox{
			padding: 30px 0 20px 0;	
		}
		
		
		#leftcontentboxfooter{
			width: 223px;
			margin: 0 0 0 0px;
		}
		
			#leftcontentboxfootercontainer{
				padding: 10px 20px 10px 20px;
				border: 1px solid #cccccc;
			}
		
			#leftcontentboxfooter h4{
				font-size: 12px;
				color: #666666;
				line-height: 18px;
				text-decoration: none;
				font-weight: normal;
				padding: 0;
				margin: 0;
				text-transform: none;
			}
			
			#leftcontentboxfooter h5{
				font-family:  Arial, Helvetica, sans-serif;
				font-size: 18px;
				color: #008db8;
				line-height: 20px;
				text-decoration: none;
				
				padding: 0;
				margin: 0;
				font-weight: normal;
			}
			
		
			.subscribebutton{
				padding: 4px 0 0 0;	
			}
			
			#leftsocial{
				padding: 4px 0 0 0;
			}
			
			
		.leftcalloutbox{
			width: 223px;
			margin: 15px 0 30px 0px;
		}
		
			.leftcalloutboxcontainer{
				padding: 10px 20px 10px 20px;
				border: 1px solid #cccccc;
			}
	
	#maincontent{
		float: right;
		width: 615px;
		padding: 0 20px 0 0;
		border:0px solid red;
	}

	#maincontent_1{
		float: right;
		width: 100%;
		padding: 0 20px 0 0;
		border:0px solid red;
	}

#brandsfooter, #bottomfooter{
	border-top: 1px solid #d7d5d1;
	background: url(/images/fend/secondary_brands_bg.gif) repeat-x;
}
	
	#brandsfooterwrapper, #bottomfooterwrapper{
		width: 960px;
		margin:  0 auto;	
	}
	
	#brandsfooter #brands{
		float: left;
		width: 781px;
		padding-left: 15px;
		padding-top: 5px;
	}
	
	#brandsfooter #brandcontainer{
		width: 661px;
	}
	
	#bottomfootertext{
		padding: 15px 10px 15px 0;
		width: 240px;
		float: right;
		
		font-size: 11px;
		line-height: 22px;
		color: #999999;
		
		text-align: right;
	}

		#bottomfootertext a{
			font-size: 11px;
			line-height: 22px;
			color: #999999;
			text-decoration: none;
		}
		
		#bottomfootertext a:hover{
			text-decoration: underline;
		}
		
	#brandsfooter #brandfooter{
		padding: 15px 10px 0 0;
		width: 140px;
		float: right;
		
		font-size: 11px;
		line-height: 22px;
		color: #999999;
		
		text-align: right;
	}
	
		#brandfooter a{
			font-size: 11px;
			line-height: 22px;
			color: #999999;
			text-decoration: none;
		}
		
		#brandfooter a:hover{
			text-decoration: underline;
		}
	
.clear{
	clear: both;
	line-height: 1px;
	font-size: 1px;
	margin: 0;
	border: 0;	
}

.leftsubscribeemail{
	padding: 0 0 4px;
}

.leftsubscribeemail input{
	width: 150px;
}

#homebottomcontent{
	padding: 15px 0 0 0;	
}

.EditingFormErrorLabel, .ErrorLabel{
	color: #ff0000;
}

.promotionwrapper{
	padding: 15px 0 0 0;
	border-bottom: 1px solid #bbbbbb;
}

	.promotionitem{
		padding: 8px 0 8px 0;
		border-top: 1px solid #bbbbbb;
		zoom: 1;
	}

		.promotionimage{
			width: 78px;
			float: left;
		}

		.promotiontext{
			width: 438px;
			float: right;
		}
		
			.promotiontext a.noline{
				text-decoration: none;
			}
			
			.promotiontext a.noline:hover{
				text-decoration: underline;
			}

.faqwrapper{
	padding: 0 0 20px 0;
}

.pcsmyprofile .LabelField{
	display: inline-block;
	background: #f4f4f4;
	padding: 4px;
}
.validation_summary_as_bulletlist ul
{
    display: none;
}
.TextBoxField
{
    *width:155px;
    #width:155px;
    width:155px;
    
}
.TextBoxField_Capitalization
{
    width:154px;
}
.bidding_limit{
	width:86px;
	z-index:10000;
	position:absolute;
	margin-left:200px;
	*margin-left:138px;
	margin-top:-25px;
}
.bidding_limit_D{
	width:86px;
	z-index:10000;
	position:absolute;
	margin-left:260px;
	*margin-left:198px;
	margin-top:-30px;
}
.bidlimit
{
    float:right;
    font-family: 'dinbold'; font-size:14px; color:#323232; font-weight:normal;
    padding-right:10px;
    }
    
.bidlimit a
{
    text-decoration:underline;
    color:#323232;
    } 
.bidlimit a:hover
{
    text-decoration:none;
    color:#323232;
    }
   .bktHeader
{
    background-color:#0190BC;
    color:White;
    font-weight:bold;
    font-size:12px;
    padding:5px;
    width:190px;
    }         


.bucketStyle
{
    background-color:#F1F1F1;
    padding:5px;
    }  
.bucketStyleAlternate
{
    background-color:#FFFFFF;
    padding:5px;
    } 
    .cls_optout
    {padding:5px 0px;}

