﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="confirm_order.aspx.vb" Inherits="confirm_order" %>
<%@ Register Src="~/UserControls/order_confirm.ascx" TagName="Confirm" TagPrefix="Order" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>    
</head>
<body>
    <form id="form1" runat="server">
    <center>
    <div style="width:980px">
    <Order:Confirm runat="server" ID="ord_confm" />
    </div>
    </center>
    </form>
</body>
</html>
