﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="Fedex_Test.aspx.vb" Inherits="Fedex_Test" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    <table>
    <tr>
    <td>No. of package</td>
    <td><asp:TextBox runat="server" ID="txt_package"></asp:TextBox></td>
    </tr>
    <tr>
    <td>Total Weight</td>
    <td><asp:TextBox runat="server" ID="txt_weight"></asp:TextBox></td>
    </tr>
    <tr>
    <td colspan="2"><asp:Button runat="server" ID="but_submit" Text="Submit" /></td>
    </tr>
    </table>
    </div>
    </form>
</body>
</html>
