﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="frame_auction_calculate.aspx.vb" Inherits="frame_auction_calculate" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <asp:Literal ID="litRefresh" runat="server" Visible="false">
    <script type="text/javascript">        E_refresh = window.setTimeout(function () { window.location.href = window.location.href }, 60000);</script>
    </asp:Literal>
    </form>
</body>
</html>
