﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="frame_term_condition.aspx.vb"
    Inherits="frame_term_condititon" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <h1 class="pgtitle" style="margin-top: 2px;">
            Terms and Conditions</h1>
          
        <iframe id="iframe1" src='/frame_src_term_condition.aspx' scrolling="yes" frameborder="0" width="100%" height="300"
            runat="server"></iframe>
    </div>
    </form>
</body>
</html>
