﻿<%@ Page Title="" Language="VB" MasterPageFile="~/SitePopUp.master" AutoEventWireup="false"
    CodeFile="IncreaseBiddingLimit.aspx.vb" Inherits="IncreaseBiddingLimit" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">
<div style="height:300px;">
<asp:Literal ID="lit_increase_bid_limit" runat="server"></asp:Literal>
</div>
    
    <div id='dv_askpop_ask' style="margin-top: 20px; clear: both; text-align: center;">
        <input type="button" name="" id="ImageButtonCancelMsg" onclick="javascript:window.close();"
            value="Close" />
    </div>
</asp:Content>
