﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="Login.aspx.vb" Inherits="Login" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title>PCS Login</title>
     <link type="text/css" rel="stylesheet" href="/Style/Frontend.css" />
</head>
<body>
    <form id="form1" runat="server">
    
    <center>
    <div style="padding:100px;">
        
        </div>
    </center>
    </form>
</body>
</html>
