﻿<%@ Page Title="" Language="VB" MasterPageFile="~/SitePopUp.master" AutoEventWireup="false" CodeFile="question_confirm_pop.aspx.vb" Inherits="question_confirm_pop" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
<div style="border:solid 1px Gray;width:250px;height:115px;background-color:White;">
 <center><div style="padding:10px 5px;"> <asp:Label ID="rp_message" runat="server" ForeColor="Red"
           CssClass="RPMsg" Text="Thanks for your question. Someone will get back to you within 24 hours."></asp:Label></div></center>
           <center><div style="padding:10px 5px;"><a href="javascript:window.close();"><img src='/Images/close.gif' alt='' border="0" /></a></div></center>
</div>
</asp:Content>

