﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="SiteHome.aspx.vb" Inherits="SiteHome" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title>PCS Bidding</title>
</head>

<frameset rows="104,*" cols="*" frameborder="0" framespacing="0" border="0"> 

	<frame name="topFrame" id="topFrame" scrolling="no" style="z-index:1" noresize src="SiteTopBar.aspx?t=<%=IIf(String.IsNullOrEmpty(Request.QueryString.Get("t")),"1",Request.QueryString.Get("t")) %>">
	<frameset id="framset_menu" show_menu_width="220" style="z-index:1" hide_menu_width="20" cols="220,*" frameborder="0" > 
		<frame name="leftFrame" id="leftFrame" style="z-index:1" src="SiteLeftBar.aspx?t=<%=IIf(String.IsNullOrEmpty(Request.QueryString.Get("t")),"1",Request.QueryString.Get("t")) %>" scrolling="no" marginwidth="0" marginheight="0" noresize border="0">
		<frame name="mainFrame" id="mainFrame" style="z-index:1" scrolling="auto" src="<%=IIf(String.IsNullOrEmpty(Request.QueryString.Get("a")),"AuctionList.aspx?t=" & IIf(String.IsNullOrEmpty(Request.QueryString.Get("t")),"1",Request.QueryString.Get("t")),"AuctionList.aspx?t=" & IIf(String.IsNullOrEmpty(Request.QueryString.Get("t")),"1",Request.QueryString.Get("t")) & "&i=" & Request.QueryString.Get("a")) %>">
	</frameset>
</frameset>
    

</html>