﻿<%@ Page Title="" Language="VB" MasterPageFile="~/SiteMain.master" AutoEventWireup="false" CodeFile="terms_conditions_bottom.aspx.vb" Inherits="terms_conditions_bottom" %>
<%@ Register Src="~/UserControls/terms.ascx" TagName="Terms" TagPrefix="UC3" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentOfChild" Runat="Server">
<div style="margin-left:-20px!important;">
<h1 class="pgtitle" style="margin-top: 2px;">
            Terms and Conditions</h1>
            </div>
            <br />
         
             <div class="detail">
          <UC3:Terms runat="server" ID="UC_Terms"></UC3:Terms>
    </div>

   
</asp:Content>

