﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="TestEmail.aspx.vb" Inherits="TestEmail" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <table width="100%">
        <tr>
            <td><asp:Label ID="lbl_test" runat="server"></asp:Label></td>
        </tr>
        <tr>
            <td>
                <asp:Button ID="btn_CreatePDF" runat="server" Text="Create PDF" />
            </td>
        </tr>
    </table>
    
    </form>
</body>
</html>
