﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="testfedexrate.aspx.vb" Inherits="testfedexrate" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    <asp:Button ID="btn_rate" runat="server" Text="Rate" />
    <br />
    <asp:Label ID="lbl_msg" runat="server" Text=""></asp:Label><asp:GridView ID="GridView1"
        runat="server">
    </asp:GridView>
    </div>
    </form>
</body>
</html>
