﻿<%@ Master Language="VB" CodeFile="AuctionMain.master.vb" Inherits="AuctionMain" %>

<%@ Register Src="~/UserControls/login_ctrl.ascx" TagName="Login" TagPrefix="UC1" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>:: Overstock Wireless :: The PCS Wireless Auction Site</title>
    <link rel="stylesheet" type="text/css" href="/Common/header.css" />
    <link href="/Common/responsive.css" rel="stylesheet" type="text/css" />
    <link type="text/css" rel="stylesheet" href="/Style/portalmain.css" />
    <![if IE]>
    <link rel="stylesheet" type="text/css" href="/Style/font_ie.css" />
    <![endif]> <![if !IE]>
    <link rel="stylesheet" type="text/css" href="/Style/font_other.css" />
    <![endif]>
    <script type="text/javascript">

        /***********************************************
        * Different CSS depending on OS (mac/pc)- © Dynamic Drive (www.dynamicdrive.com)
        * This notice must stay intact for use
        * Visit http://www.dynamicdrive.com/ for full source code
        ***********************************************/
        ///////No need to edit beyond here////////////

        var mactest = navigator.userAgent.indexOf("Mac") != -1

        //alert(navigator.userAgent);
        if (mactest) {
            document.write('<link rel="stylesheet" type="text/css" href="/style/stylesheet_mac.css"/>');
        }
        else {
            document.write('<link rel="stylesheet" type="text/css" href="/style/newstylesheet.css"/>');
        }
    </script>
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/jquery.easing.1.3.js"></script>
    <!--[if lt IE 9]>
    <script src="http://css3-mediaqueries-js.googlecode.com/files/css3-mediaqueries.js"></script>
    <link rel="stylesheet" type="text/css" href="/style/newstylesheet.css" />
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script type="text/javascript">
        document.createElement('header');
        document.createElement('footer');
        document.createElement('section');
        document.createElement('aside');
        document.createElement('nav');
        document.createElement('article');
        document.createElement('hgroup');

        function question_wait(_valdt_grp, _aid) {
            if (Page_ClientValidate(_valdt_grp)) {
                var dv_ask = document.getElementById('dv_' + _aid + '_ask');
                var dv_msg = document.getElementById('dv_' + _aid + '_msg');
                var dv_cnf = document.getElementById('dv_' + _aid + '_confirm');
                if (dv_ask.style.display == 'block') {
                    dv_ask.style.display = 'none';
                    dv_cnf.style.display = 'none';
                    dv_msg.style.display = 'block';
                }
                else {
                    dv_ask.style.display = 'block';
                    dv_cnf.style.display = 'block';
                    dv_msg.style.display = 'none';
                }
            }
        }


        function change_category() {
            document.getElementById("id_category").innerHTML = "d"
        }

        function open_increase_limit() {
            window.open('/IncreaseBiddingLimit.aspx', 'help', 'left=' + ((screen.width - 500) / 2) + ',top=' + ((screen.height - 400) / 2) + ',width=500,height=400,scrollbars=yes,resizable=no,toolbars=no');
            return false;
        }
 
   
       
            var qs = getParameterByName('rt');

            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-22465035-3']);
            _gaq.push(['_trackPageview']);           

	
            if (qs == 'N' || qs == 'C') {               
                _gaq.push(['_trackEvent', 'Auctions', 'Sign-up', 'A new sign-up for Overstock Wireless auctions']);
            }

            (function () {
                var ga = document.createElement('script');
                ga.type = 'text/javascript';
                ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(ga, s);
            })();

            function getParameterByName(name) {
                name = name.replace(/[\[]/, "\\\[").replace(/[\]]/, "\\\]");
                var regexS = "[\\?&]" + name + "=([^&#]*)",
                    regex = new RegExp(regexS),
                    results = regex.exec(window.location.href);
                if (results == null) {
                    return "";
                } else {
                    return decodeURIComponent(results[1].replace(/\+/g, " "));
                }
            }           
       

    </script>
    <style type="text/css">
        @media print
        {
            .noprint
            {
                display: none;
            }
            .item_size
            {
                font-size: 14px;
            }
            .table
            {
                border: 1px solid black;
            }
        }
    </style>
    <%-- -------------------------------------%>
</head>
<body>
    <form id="form1" runat="server">
    <asp:ScriptManager runat="server" ID="sc_1">
    </asp:ScriptManager>
    <div id="dhtmltooltip_new">
    </div>
    <header>
  <div class="inner">
    <div class="logo"><a href="/"><img src="/Images/logo.png" width="317" height="64" alt="PCS Wireless Auction"></a></div>
    <nav>
      <ul>
          <% If CommonCode.Fetch_Cookie_Shared("user_id") <> "" Then%>
          <li><a><%= CommonCode.Fetch_Cookie_Shared("displayname")%></a></li> 
        <li><a href='/My_Account.aspx'>My Account</a></li>
        <li><a class="selected" href="/logout.aspx">Logout</a></li>
           <% Else%>
        <li><a href="/">Home</a></li> 
        <li><a href='/signup.aspx'>Join Now</a></li>
        <li><a class="selected" onclick="return Modal_Dialog();" href="/login.aspx">Login</a></li> 
           <% End If%>
      </ul>
    </nav>
  </div>
</header>
    <div class="clear">
    </div>
    <!--wraper -->
    <div class="wraper menu">
        <div class="innerwraper">
            <nav class="main_nav">
              <ul>
                <li>
                <% If Request.Url.ToString().ToLower.IndexOf("default.aspx") > 0 And CommonCode.Fetch_Cookie_Shared("user_id") = "" Then%>
                    <img src="/Images/spacer1.gif" height="40" width="1" alt="" />
                <% Else%>
                    <a <%= IIf(Request.QueryString.Get("t") = "1", "class=sltd", "")%> href="/Auction_Listing.aspx?t=1">Live Auctions</a>
                <% End If%>
                </li>
                <% If CommonCode.Fetch_Cookie_Shared("user_id") <> "" Then%>
                <li id="AutionHistory" runat="server"><a <%=iif(request.querystring.get("t")="2","class=sltd","") %> href="/Auction_Listing.aspx?t=2">Auction History</a></li>
                <li><a <%=iif(request.querystring.get("t")="3","class=sltd","") %> href="/Auction_Listing.aspx?t=3">My Live Auctions</a></li>               
                <% End If%>
                <li><a  href="javascript:var ptr = window.open('http://support.overstockwireless.com/tutorial/Help.php','Auction Tutorial', 'modal=yes');ptr.focus();">Tutorial</a></li>
              </ul>
            </nav>
            <!--main nav -->
            <asp:Literal runat="server" Visible="true" ID="ltr_category"></asp:Literal>
            <!--<div class="categories">
          <a href="#">Categories</a>
          <ul class="sub-categories">
            <li><a href="#">Laptop</a></li>
            <li><a href="#">Computer</a></li>
            <li><a href="#">Cell Phone</a></li>
            <li><a href="#">Accessories</a></li>
          </ul>
        </div>categories -->
            <div class="clear">
            </div>
        </div>
        <!--innerwraper -->
    </div>
    <!--wraper -->
    <div class="wraper content">
        <asp:ContentPlaceHolder ID="Child_Content" runat="server">
        </asp:ContentPlaceHolder>
        <UC1:Login runat="server" ID="signin_ctrl" />
    </div>
    <!--wraper -->
    <div class="wraper footerwrap">
        <footer class="mainfooter">
        <div class="innerwrap">
          <div class="lnks lnkwbx1">
            <h1>Links</h1>
            <ul>
              <li><a href="/">About Us</a></li>
              <%--<li><a href="http://www.pcsww.com/buy-from-pcs/products-and-pricing/" target="_blank">Products</a></li>--%>
               <li><a href="mailto:<%= SqlHelper.of_FetchKey("site_email_to")  %>">Customer Support</a></li>
              
           </ul>
            <ul>
              <li><a href="http://www.pcsww.com/privacy-policy/" target="_blank">Privacy Policy</a></li>
            </ul>
            <div class="clear"></div>
          </div><!--links -->
          <div class="lnks lnkwbx2">
            <h1>Payments</h1>
            <ul>
              <li><img src="/images/auction/pymnt1.gif" height="33" width="53" alt="" /></li>
              <li><img src="/images/auction/payment2.gif" height="37" width="50" alt="" /></li>
             <%-- <li><img src="/images/auction/paymnet3.gif" height="36" width="48" alt="" /></li>--%>
            </ul>
          </div><!--links -->
          <div class="lnks lnkwbx3">
            <h1>Contact Us</h1>
            <span>Phone: 973-805-7400 Ext.179</span><br/>
            <span>Email: <a  class="email" href="mailto:<%= SqlHelper.of_FetchKey("site_email_to")  %>"><%= SqlHelper.of_FetchKey("site_email_to")  %></a></span>
          </div><!--links -->
          <div class="clear"></div>
        </div><!--innerwrap -->
      </footer>
        <!--mainfooter -->
        <div class="copyright">
            Copyright ©
            <%=Now.Year %>
            PCS Wireless Online Auction. All rights reserved</div>
    </div>
    <!--footerwrap -->
    </form>
    <script type="text/javascript" src="/pcs_js/divarrow_tooltip.js"></script>
    <script type="text/javascript">
        $('.categories').click(function () { $('.sub-categories').toggle(); });


     


    </script>
</body>
</html>
