﻿<%@ Control Language="VB" AutoEventWireup="false" CodeFile="Bidder_Rank.ascx.vb" Inherits="UserControls_Bidder_Rank" %>
       
<asp:Literal ID="litRefresh" runat="server">
    
    </asp:Literal>
    
    <div id="div_rank" class="rank" style="font-family:dinbold;text-align:left; color:#575757; padding-left:20px;height:55px;" runat="server">
        <asp:Literal ID="lit_rank" runat="server" />
    </div>
        <div style="display:none;">
    <div id="cdcontainer">
    </div>
    </div>
   