<%@ Page Language="vb" AutoEventWireup="false" CodeFile="aspInput.aspx.vb" Inherits="aspInput" ValidateRequest='false' %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
	<HEAD>
		<title>aspInput</title>
		<meta name="GENERATOR" content="Microsoft Visual Studio.NET 7.0">
		<meta name="CODE_LANGUAGE" content="Visual Basic 7.0">
		<meta name="vs_defaultClientScript" content="JavaScript">
		<meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5">
	</HEAD>
	<body MS_POSITIONING="GridLayout">
		<form id="Form1" method="post" runat="server">
			<font face="verdana" size="1">Input:
				<br>
				<asp:TextBox ID="txtInput" Runat="server" Width="702px" TextMode="MultiLine" Wrap="False" Height="94px">Select * from </asp:TextBox><br>
				<asp:Button ID="cmdSubmit" Runat="server" Text="Submit"></asp:Button><br>
				<asp:Label ID="lblResult" Runat="server"></asp:Label>
    		</font>
		</form>
	</body>
</HTML>
