﻿<%@ Page Title="" Language="VB" MasterPageFile="~/BackendPopUP.master" AutoEventWireup="false"
    CodeFile="BidderQueries.aspx.vb" Inherits="Auctions_BidderQueries" %>

<%@ Register Src="UserControls/BidderQueries.ascx" TagName="BidderQueries" TagPrefix="uc1" %>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">
    <uc1:BidderQueries ID="UC_BidderQueries" runat="server" />
</asp:Content>
