﻿<%@ Page Title="" Language="VB" MasterPageFile="~/BackendPopUP.master" AutoEventWireup="false" EnableViewState="false"
    CodeFile="Buyer_Bidding_history.aspx.vb" Inherits="Auctions_Buyer_Bidding_history" %>

<%@ Register Src="UserControls/Buyer_bidding_history.ascx" TagName="Buyer_bidding_history"
    TagPrefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">
    <uc1:Buyer_bidding_history ID="Buyer_bidding_history1" runat="server" />
    <script>
        window.focus()
    </script>
</asp:Content>
