﻿<%@ Control Language="VB" AutoEventWireup="false" CodeFile="auction_price_summary.ascx.vb" Inherits="UserControls_auction_price_summary" %>
<asp:Panel runat="server" ID="pnl_price">
        <asp:Literal ID="litRefresh" runat="server">
   
        </asp:Literal>
        <div style="width: 100%;height:200px;overflow:hidden;">
            <asp:Literal ID="lit_price_setting" runat="server" />
        </div>
    </asp:Panel>