﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="Backend_Home.aspx.vb" Inherits="Backend_Home" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title>PCS Bidding</title>
</head>
      <%--  <%If (Request.QueryString.Get("q") <> Nothing) Then%>
       <% Request.QueryString.Get("q") %>
        <%Else%>
		None
        <%End If%>--%>
<frameset rows="126,*" cols="*" frameborder="0" framespacing="0" border="0"> 
	<frame name="topFrame" id="topFrame" scrolling="no" noresize src="Backend_TopBar.aspx?t=1">
	<frameset id="framset_menu" show_menu_width="222" hide_menu_width="30" cols="242,*" frameborder="0"> 
		<frame name="leftFrame" id="leftFrame" src="Backend_leftbar.aspx?t=1" scrolling="auto" marginwidth="0" marginheight="0" noresize border="0">
        <%If (Request.QueryString.Get("q") <> Nothing) Then%>
        <frame name="mainFrame" id="mainFrame" scrolling="auto" src='<%="/Backend_Dashbord_qry.aspx#" & Security.EncryptionDecryption.DecryptValueFormatted(Request.QueryString.Get("q")) %>'>
        <%Else%>
		<frame name="mainFrame" id="mainFrame" scrolling="auto" src='<%=iif(CommonCode.is_sales_rep(),"/SalesHome.aspx",iif(commoncode.is_bidder_approval_agent(),"Bidders/BidderApproval.aspx","Backend_Dashbord.aspx")) %>'>
        <%End If%>
	</frameset>
</frameset>


</html>