﻿<%@ Page Title="Bid History" Language="VB" MasterPageFile="~/SitePopUp.master" AutoEventWireup="false" CodeFile="Bid_History.aspx.vb" Inherits="Bid_History" %>
<%@ Register Src="~/UserControls/bidhistory_control.ascx" TagName="history" TagPrefix="bid" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
<link href="Style/stylesheet.css" rel="stylesheet" type="text/css" /> 
 <table cellpadding="5" cellspacing="0" width="100%" border="0">
        <tr>
            <td>
              <div class="pageheading">
                    Bid History</div>  
            </td>
        </tr>
        <tr>
            <td style="padding: 15px 0px 5px 1px;" valign="top">
                
            <bid:history runat="server" ID="_top_bid" />
           
                
            </td>
        </tr>
        <tr>
            <td align="center">
            <div id='dv_askpop_ask' style=" padding-left :10px;" >
               <%--<img onclick="javascript:window.close();" alt="Close" src="/images/close.gif" style="cursor: pointer;" />--%>
               <input type="button" name="" id="popupClose" onclick ="javascript:window.close();"  value="Cancel" />
               </div>

            </td>
        </tr>
    </table>
    <script type ="text/javascript" >
        window.focus();
    </script>
</asp:Content>


