﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="frame_src_term_condition.aspx.vb" Inherits="frame_src_term_condition" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<%@ Register Src="~/UserControls/terms.ascx" TagName="Terms" TagPrefix="UC3" %>
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <link href="/Style/stylesheet.css" rel="stylesheet" type="text/css" /> 
</head>
<body>
    <form id="form1" runat="server">
     <div class="detail">
          <UC3:Terms runat="server" ID="UC_Terms"></UC3:Terms>
    </div>
  <%--   <div id="buynow-popup">
    <asp:Button runat="server" ID="accept" CssClass="fleft" Text="Accept" />
    <input type="button" name="" id="popupClose" class="fleft" value="Decline" />
    <asp:HiddenField ID="hid_user_id" runat ="server" />

    </div>--%>
    </form>
</body>
</html>
