<%@ Page Language="VB" AutoEventWireup="false" CodeFile="PaypalResponseCheckout.aspx.vb" Inherits="ShoppingCart_ResponseCheckoutPP" %>
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title></title>
</head>
<body>
<form id="myform" runat="server">
    <table border="0" width="100%">
        <tr style="color: Gray" align="center">
            <td>
                <h4>
                    <b>www.overstockwireless.com</b>
                        <br />
                        <b><asp:Literal ID="lit_result" runat="server" /></b></h4>
            </td>
        </tr>
    </table>
</form>
</body>
</html>