﻿<%@ Page Language="VB" AutoEventWireup="false" EnableViewState="false" CodeFile="PriceSummary.aspx.vb" Inherits="PriceSummary" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
 
    <link type="text/css" rel="Stylesheet" href="/Style/AuctionBody.css" />
    <link type="text/css" rel="Stylesheet" href="/Style/pcs.css" />
</head>
<body>
    <form id="form1" runat="server">
    
    <div style="color: #525252; font-weight: bold;width:500px;padding-top:5px;padding-bottom:5px;">
        <asp:Literal ID="lit_price_setting" runat="server" />
    </div>
    </form>
</body>
</html>
