﻿<%@ Page Title="" Language="VB" MasterPageFile="~/SitePopUp.master" AutoEventWireup="false" CodeFile="print_detail.aspx.vb" Inherits="print_detail" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
   <script language="javascript" type="text/javascript">
       function resizeIframe(obj) {
           obj.style.height = obj.contentWindow.document.body.scrollHeight + 'px';
           obj.style.width = obj.contentWindow.document.body.scrollWidth + 'px';
       }

  </script> 
    
    <%--<input type="button" class="myButton" value="Print"  onClick="javascript: window.frames['factura1'].focus(); parent['factura1'].print();" />--%>
    <div style="float:right; padding-right:45px;">
        <img alt="" src="../images/auction/printer_icon.gif" style="cursor:pointer;" onClick="javascript: window.frames['factura1'].focus(); parent['factura1'].print();" />&nbsp;
        <asp:ImageButton ID="img_close" runat="server" AlternateText="Close" />
    </div>
    <iframe id="factura" name="factura1" marginheight="0" src='/auction_detail_print.aspx?a=<%= Request.QueryString("a") %>&t=<%=Request.QueryString("t")%>&i=<%=Request("i")%>&m=<%=Request("m")%>' marginwidth="0" scrolling="no" frameborder="0" width="900" style="min-height: 750px;" onload='javascript:resizeIframe(this);'></iframe>
   <%-- <script type="text/javascript" language="javascript">
         javascript: window.frames['factura1'].focus(); parent['factura1'].print();
    </script>--%>
       <script>
        window.focus();
       </script>
</asp:Content>

