
/* I-pad */
@media only screen and (min-width : 1px) and (max-width : 1023px) {
	header div.inner, section#welcome div.inner, section#members div.inner, section#howWorks div.inner, footer div.inner{ width:96%; padding-left:2%; padding-right:2%;}
	header div.inner nav{width: 40%;}
	section#auctions div.inner{padding: 30px 0 25px 45%; width: 45%;background-position: 0 10px;}
	section#members div.inner div.text{margin-left: 5%; width: 40%;}
	section#reasonsResellers div.inner{padding-left: 45%; padding-right: 0; width: 48%;}
	footer div.inner div{width: 48%;}
}
@media only screen and (min-width : 1px) and (max-width : 767px) {
	.logo > img { height: auto; width: 100%;max-width: 317px;}
	header{padding-bottom: 15px; padding-top: 15px;}
	header div.inner div.logo{float: none; margin: auto; text-align: center; width: 100%;}	
	header div.inner nav{text-align: center; width: 100%;}
	header div.inner nav ul{float: none; margin: 10px auto auto;}
	section#welcome{padding-top: 25px; padding-bottom: 25px;}
	section#welcome div.inner h1{font-size: 32px;margin-bottom: 15px;}
	section#welcome div.inner p{width: 95%;font-size: 16px; line-height: 26px; margin: auto auto 25px;}
	section#welcome div.inner div.button{ width: 155px;}
	section#welcome div.inner div.button a{ font-size: 22px; height: 40px;line-height: 40px;}
	section#auctions div.inner{padding: 312px 0 25px; width: 92%;background-position: center top; background-size: 95% auto;}
	section#members{padding-bottom: 25px; padding-top: 25px;text-align: center;}
	section#members div.inner div.text ul li{ background:none;}
	section#members div.inner div.text{width: 90%;}
	section#reasonsResellers div.inner{padding-left: 2%; padding-right: 2%; width: 96%; background:#e6e6e6;}
	section#howWorks{padding-bottom: 25px; padding-top: 25px;}
	section#howWorks div.inner h1{margin-bottom: 15px;font-size: 26px;}
	section#howWorks div.inner ul{width: 96%;}
	section#howWorks div.inner ul li span{ float:left;}
	section#howWorks div.inner ul li{line-height: 20px;}
	footer{text-align: center;padding-bottom: 20px; padding-top: 10px;}
	footer div.inner div{width: 100%;}
	footer div.inner div.leftCol p{margin-bottom: 20px;}
	footer div.inner div.rightCol{ text-align:center;}
	section#members div.inner div.icons{float: none;}
	section#auctions div.inner ul{ width:100%;}
	section#members div.inner div.icons ul li{display: inline-block; float: none; margin-left: 1%;}
	.icons img { height: 100px; width: 100%;}
	section#reasonsResellers div.inner ul li{height: auto; line-height: 18px;font-size: 15px;}
	section#reasonsResellers div.inner h1{font-size: 21px;margin-top: 25px;}
	section#auctions{ text-align:center;}
	section#auctions div.inner ul li{ background:none}
	section#auctions div.inner div.button{margin: auto;}
}
@media only screen and (min-width : 1px) and (max-width : 767px) and (orientation: landscape){
	section#auctions div.inner{width: 335px;}
	section#members div.inner div.text{float: none;margin: auto; width: 202px;}
	section#members div.inner div.icons{float: none; margin: auto; text-align: center; width: 350px;}
	section#reasonsResellers div.inner{padding-right: 0; width: 54%;}
	.icons img { height: auto;}
	section#reasonsResellers div.inner h1{font-size: 19px; margin-top: 14px;font-size: 21px;}
	

}
