﻿body
{  
    padding: 0px;
    margin: 0px;
    font-family: Verdana;
    font-size: 11px;
}
div.pageheading
{
    font-size: 20px;
    text-align: left;
    color:#24C6F5;
    padding-bottom: 5px;
    font-family:arial;
}
div.pagesubtitle
{
    color: Gray;
    font-size: 12px;
    padding-bottom: 20px;
}
div.PageTab
{
    float: left;
    background: url(/Images/blue-left.gif) no-repeat left top;
    padding: 0 0 0 5px;
    border-bottom: 1px solid #8A9A9C;
     margin-right:5px;
}
div.PageTab span
{
    float: left;
    display: block;
    background: url(/Images/bluetab.gif) no-repeat right top;
    padding: 8px 10px 8px 5px;
    color: #FFFFFF;
    font-family: Verdana;
   
}
.PageTabContent
{
    border-bottom: 1px solid #B2B2B2;
    border-top: 1px solid #E2E2E2;
    border-left: 1px solid #E2E2E2;
    border-right: 1px solid #E2E2E2;
    padding: 10px;
}
.PageTabContentEdit
{
    border-bottom: 1px solid #B2B2B2;
    border-top: 1px solid #E2E2E2;
    border-left: 1px solid #E2E2E2;
    border-right: 1px solid #E2E2E2;
}
.caption
{
    padding: 7px 15px 7px 7px;
    text-align: right;
    vertical-align: top;
}
.caption_bid_detail
{
    padding: 3px 5px 3px 10px;
    text-align: left;
    vertical-align: top;
}



.details
{
    padding:  7px 7px 7px 7px;
    text-align: left;
    vertical-align: top;
    background-color:#F9F9F9;
}
.sub_details
{
    padding:  7px 7px 7px 17px;
    text-align: left;
    vertical-align: top;
    background-color:#F9F9F9;
}
.caption_without_border
{
    padding: 10px;
    text-align: left;
    vertical-align: top;
}

.scheduleAuction
{
  text-align:left;
  font-size:14;
  font-weight:bold;
  padding: 20px 0px 10px 50px;  
    }
.caption_new
{
    font-size: 12px;
    text-align: left;
    vertical-align: top;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    background-color: #E2E2E2;
}
.details_new
{
    text-align: left;
    vertical-align: top;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    background-color: #F7FCFF;
}

.TextBox
{
    border-top: 1px solid #D4D4D4;
    border-right: 1px solid #D4D4D4;
    border-bottom: 1px solid #D4D4D4;
    border-left: 1px solid #D4D4D4;
    background-color: #FFFFFF;
   
}
.DropDown{width:135px;}
.inputtype { background:none; border:1px solid #D4D4D4; width:200px; height:18px; background-color:White; }
.inputtypePWD { background:none; border:1px solid #D4D4D4; width:200px; height:18px; background-color:White;}
.ContxtarBg { width:353px; height:80px; background:url(../images/txt_ar_cont.jpg) no-repeat; padding:5px 2px 5px 6px; float:left; }
.tdTabItem
{
    padding: 15px 0px 0px 0px;
    border-bottom: 1px double #E2E2E2;
}
.tdTabItemLast
{
    padding: 15px 0px 0px 0px;
}
.pnlTabItemHeader
{
    font-family: 'UniSansRegular', Arial, Helvetica, sans-serif;
    padding-bottom: 30px;
    font-size:11px; 
    font-weight:bold;
}
.tabItemHeader
{
    float: left;
    padding: 5px 10px 5px 40px;
    cursor: pointer;
    text-decoration: underline;
    font-family:Arial;
    font-size:14px;
}
.tabItemHeader1
{
    float: left;
    cursor: pointer;
    text-decoration: underline;
    font-family:Arial;
    font-size:14px;
    text-align:center;
    padding-left:15px;
}
.fixedcolumn
{
    background-color: #F6F6F6;
    border-left: 1px solid #DDDDDD;
    padding: 10px;
    width: 120px;
}
.cancelButton
{
    border-bottom: 1px dotted #DDDDDD;
    border-top: 1px dotted #DDDDDD;
    padding: 5px 0px 5px 15px;
    
}
.addButton
{
    padding: 15px 0px 5px 15px;
}
.panelimage
{
    float: left;
    padding-top: 7px;
}
.nopadding
{
    padding: 0px;
    margin: 0px;
}
div.place_hold
{
    clear: both;
    padding: 0px;
    background-color: #FFFFFF;
    text-align: left;
    padding: 20px 5px 10px 5px;
    height: 100%;
    
}
div.place_hold_left
{
    padding: 0px;
    float: left;
    width: 494px;
    text-align: left;
}

div.place_hold_left1
{
    padding: 0px;
    float: left;
    width: 988px;
    text-align: left;
}

div.place_hold_right1
{
    padding: 0px;
    float: left;
    width: 988px;
    text-align: left;
}
div.place_hold_right
{
    padding: 0px;
    float: left;
    width: 492px;
    border: 1px solid #E4E4E4;
    display: block;
    text-align: left;
}

.head_bar_left_corner_top
{
    width: 7px;
    height: 43px;
    background-image: url(/Images/grdnt_blue1_hdng.gif);
    background-repeat: no-repeat;
}
.head_bar_middle_top
{
    height: 43px;
    background-image: url(/Images/grdnt_blue3_hdng.gif);
    background-repeat: repeat-x;
}

.head_bar_right_corner_top
{
    width: 7px;
    height: 43px;
    background-image: url(/Images/grdnt_blue2_hdng.gif);
    background-repeat: no-repeat;
}
.head_title
{
    float: left;
    padding-left: 4px;
    font-weight: bold;
}
.auction_box_top
{
    height: 9px;
    background-image: url(/Images/corner1_whiteblue.gif);
    background-repeat: no-repeat;
}
.auction_box_middle
{
    padding-left: 10px;
    padding-top: 2px;
    padding-bottom: 0px;
    height: 215px;
    background-image: url(/Images/corner2_whiteblue.gif);
    background-repeat: repeat-y;
}
.auction_box_bot
{
    height: 15px;
    background-image: url(/Images/corner3_whiteblue.gif);
    background-repeat: no-repeat;
}
.div_heading_left
{
    float: left;
    font-size: 16px;
    font-weight: bold;
    color: White;
    padding-left: 15px;
    margin-top: 8px;
}
.div_heading_right
{
    float: right;
    font-size: 16px;
    font-weight: bold;
    color: #B0EC66;
    margin-top: 8px;
    padding-right: 10px;
}
.blue_bar
{
    height: 37px;
    background-image: url(/Images/grrdnt_blue.gif);
    background-repeat: repeat-x;
}
div.ull
{
    list-style-type: none;
    font-size: 12px;
    list-style-image: url(/Images/small_arrow.gif);
    list-style-position: outside;
    line-height: 22px;
}
div.ull ul a
{
    text-decoration: none;
    color: #19479A;
}
div.ull ul a:hover
{
    text-decoration: underline;
    color: #A9C277;
}
div.ull ul a:visited
{
    text-decoration: none;
    color: #A9C277;
}

.radio_style
{
	border:1px solid red;
	
}
.GridHeader2
{
    font-weight:bold;
}
.auctiontabSelected
{
float:left !important;
background:url('/Images/corner_left_auction.gif') no-repeat left top !important;
margin-right: 0px  !important;
padding:0 0 0 10px !important;

}
.auctiontabSelected span{
float:left  !important;
display:block  !important;
background:url('/Images/corner_middle_auction.gif') no-repeat right top !important;
padding: 8px 12px 8px 3px !important;
color:#FFFFFF !important;
font-family:Verdana !important;
margin-left:-10px !important;
}
.auctiontab
{
float:left ;
background:url('/Images/corner_left_auction.gif') no-repeat left top ;
margin-right: 0px ; /*spacing between each tab*/
padding:0 0 0 10px ;
background-position:0 -30px;

}
.auctiontab span{
float:left;
display:block;
background:url('/Images/corner_middle_auction.gif') no-repeat right top;
padding: 8px 12px 8px 3px ;
color:#000000;
font-family:Verdana;
background-position:100% -30px;
margin-left:-10px;
}

.popBar
{
    padding:10px 2px 5px 2px;
    background:url('/Images/Menu/strip-blue.jpg');
    background-repeat:repeat-x;
   
}

/* Default Page CSS */



#div_Home {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: 16px;
	color: #666666;
	clear:both;
}
	#div_Home p
	{
	    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: 16px;
	color: #666666;
		margin: 0;
		padding: 0 0 15px 0;
	}

	#div_Home h1{
			font-family: 'UniSansRegular',"Trebuchet MS", Arial, Helvetica, sans-serif;
			font-size: 23px;
			line-height: 25px; 
			color: #008db8;
			margin: 0;
			padding: 0 0 3px 0;
			font-weight: normal;
		}


		#div_Home h2{
			font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
			font-size: 16px;
			line-height: 18px; 
			color: #00467e;
			margin: 0;
			padding: 0 0 3px 0;
		}
		
	
		#div_Home h3{
			font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
			font-size: 13px;
			line-height: 15px; 
			color: #666666;
			margin: 0;
			padding: 0 0 2px 0;
		}

		#div_Home h1 + h3, h1 + p, h2 + p, h1 + div, h2 + div{
			padding-top: 12px;
		}
		
		#div_Home ul{
			padding: 0 0 15px 15px;
			margin: 0;
		}
		
			#div_Home li{
				padding-bottom: 3px;	
			}
			
			#div_Home ul ul{
				padding: 3px 0 0 15px;
				margin: 0;
			}
		
		#div_Home a{
			color: #666666;	
		}
		
			#div_Home a:hover{
				color: 	#000000;	
			}


/* layout */
.home_body{
	margin: 0;
	padding: 0;
	background: #faf9f9; /* gray */
}


#bgwrapper{
	background:	#00467e;
	padding: 6px 0 6px 0;
	width:1004px;
}

#outerwrapper{
	padding: 4px 6px 6px 0;
}

#wrapper{
	width: 960px;
	margin: 0 auto;
	background: #ffffff;
}

#header{
	background: url(/images/header_bg.jpg) no-repeat;
}

#topnav{
		text-align: right;	
		float: right;
		padding: 7px 0 10px 0;
		width: 490px;

	}
	
		#topnav ul{
			list-style: none;
			margin: 0;
			padding: 0;
			float: right;
		}
		
		#topnav li{
			display: block;
			float: left;
			list-style: none;
			margin: 0;
			padding: 0 7px;
			
			font-family: 'UniSansRegular' , Arial, Helvetica, sans-serif;
			color: #999999;
			font-size: 11px;
			line-height: 15px;
			border-left: 1px solid #999999;
		}
		
			#topnav li.first{
				border: 0px;
			}
			
			li#searchcontainer{
				border: 0px;
				position: relative;
				top: -4px;
			}
			
			#topnav li a{
				font-family: 'UniSansRegular' , Arial, Helvetica, sans-serif;
				color: #999999;
				font-size: 11px;
				line-height: 15px;
				text-decoration: none;
			}
			
			#topnav li a:hover{
				text-decoration: underline;
			}
			
			#topnav .searchbox{
				font-size: 11px;
				position: relative;
				top: -5px;
			}
			
			
						
			#headerwrapper{
	padding: 0 0 20px 0;	
}
	#logo{
		width: 316px;
		float: left;
		padding: 0 0 0 12px;
	}
	#logolink{
			position: relative;
			top: -11px;	
		}

	
	#mainnavwrapper{
		width: 540px;
		float:right;
		padding: 0 15px 0 0;
	}
	
	#homecontent{
	padding: 0 0 0 29px;
}
	
#homeboxes{
	width: 896px;
	border-top: 1px solid #cccccc;
	border-left: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	background: #ffffff;
}

	#homeboxcontainer{
		padding: 26px 40px 15px 20px;
	}
	
		#homeboxcontent{
			width: 542px;
			float: left;	
		}

			#homeboxcontent p{
				font-size: 12px;	
				line-height: 16px;
			}
			
			#homeboxcontent h1 + p{
				padding-top: 10px;
			}
			
			#homeboxcontent h2 + p{
				padding-top: 0;
			}

		#homeboxcontent h1{
			font-size: 24px;
			line-height: 28px;
			padding-bottom: 5px;
		}
		
	#homeaside{
		width: 250px;
		float: right;	
	}


	#homenewscontainer{
		padding: 30px 0 0 0;	
	}

#homenews{
			float: left;
			width: 318px
		}
		
			#homenews p{
				font-size: 11px;
				line-height: 13px;
			}
		

#homesignup{
			float: right;
			width: 186px;
			font-size: 11px;
			line-height: 13px;
		}
		
			#homesignup p{
				font-size: 11px;
				line-height: 13px;
			}
		
			#homesignup h4{
				font-size: 12px;
				color: #666666;
				line-height: 18px;
				text-decoration: none;
				font-weight: normal;
				padding: 0;
				margin: 0;
				text-transform: none;
			}
			
			#homesignup h5{
				font-family: 'UniSansRegular', Arial, Helvetica, sans-serif;
				font-size: 18px;
				color: #008db8;
				line-height: 20px;
				text-decoration: none;
				
				padding: 0;
				margin: 0;
				font-weight: normal;
			}
.leftsubscribeemail{
	padding: 0 0 4px;
}

.leftsubscribeemail input{
	width: 150px;
}

#homebottomcontent{
	padding: 15px 0 0 0;	
}

#bottomfooter{
	border-top: 1px solid #d7d5d1;
	background: url(/images/secondary_brands_bg.gif) repeat-x;
}

#bottomfooterwrapper{
		width: 960px;
		margin:  0 auto;	
	}
	
	#bottomfootertext{
		padding: 15px 10px 15px 0;
		width: 140px;
		float: right;
		
		font-size: 11px;
		line-height: 22px;
		color: #999999;
		
		text-align: right;
	}

		#bottomfootertext a{
			font-size: 11px;
			line-height: 22px;
			color: #999999;
			text-decoration: none;
		}
		
		#bottomfootertext a:hover{
			text-decoration: underline;
		}
		
		#mainnav ul{
			list-style: none;
			margin: 0;
			padding: 0;
			float: right;
		}
		
		#mainnav li{
			display: block;
			float: left;
			list-style: none;
			margin: 0;
			padding: 0 0 0 20px;
			
			font-family: 'UniSansSemiBoldRegular', Arial, Helvetica, sans-serif;
			color: #008db8;
			font-size: 12px;
			line-height: 15px;
			text-transform: uppercase;
		}
		
			#mainnav a{
				font-family: 'UniSansSemiBoldRegular' , Arial, Helvetica, sans-serif;
				color: #008db8;
				font-size: 12px;
				line-height: 15px;
				text-transform: uppercase;
				text-decoration: none;
			}

			#mainnav a:hover, #mainnav li.selected a{
				text-decoration: underline;
			}
			
				#leftsocial{
				padding: 4px 0 0 0;
			}
			
	.modalBackground
   {
        background-color: Black;
       filter: alpha(opacity=80);
        opacity: 0.8;
        z-index: 10000;
    }
	.TabOtherDetail
{
    border-bottom: 1px solid #828282;
    border-left: 1px solid #828282;
    border-right: 1px solid #828282;
    padding: 10px;
    width:893px;
}	
.rad_multipage_detail
{
	border-top:solid 1px #E1E1E1;	
	border-bottom: 1px solid #828282;
    border-left: 1px solid #828282;
    border-right: 1px solid #828282;
	padding: 10px;
}
.rowradgrid
{
    border-width:0 1px 1px 1px;
    border-style:solid;
    border-color: #FFFFFF #FFFFFF #FFFFFF #EDEDED;
    background-color:#FFFFFF ;
    font-size:11px;
}
.pnlGray
{
    clear: both;
    height: 200px;
  
}
.editLink
{ text-align:right;
  padding:5px 0px 5px 0px;
    }

.editLink a
{ color:blue;
  text-decoration:none;
  font-size:14px;
    } 
.editLink a:hover {text-decoration:underline;}  
.invLink
{ float:right;
  padding:2px 0px 2px 0px;
    }

.invLink a
{ color:gray;
  text-decoration:none;
  font-size:14px;
    } 
.invLink a:hover {text-decoration:underline;} 
.qryTitle{font-weight:bold;}
.qryDesc{color:#302F30;text-align:justify;}  
.qryAlt{font-size:10px;color:Gray;}   
.set_color {background:none;background-color:White;}
.noteMark{color:Gray;border:1px solid #F0F0F0;width:300px; }
.noteBox{border:1px solid #F0F0F0;width:300px; }