body
{
    background: url('/Images/hamepage_background.gif');
    background-repeat: repeat-x;
    padding: 0px;
    margin: 0px;
    font-family:verdana;
    font-size:11px;
}
div.mainBody
{   background-color: #FFFFFF;
 }
div.topR1
{
    height: 68px;
    display: block;
    padding:8px 0px 10px 20px;
}
div.topR1 div.l1
{
    float: left;
    width: 335px;
    height: 69px;
    display: block;
    
}
div.topR1 div.l2
{
    float: left;
    width: 232px;
    height: 25px;
    display: block;
    padding:12px 0px 10px 120px;
    background:url('/Images/menu/search.gif');
    background-repeat:no-repeat;
    background-position:90px 10px;
}
div.topR1 div.l2_front
{
    float: left;
    width: 400px;
    height: 35px;
    display: block;
    padding:1px 0px 0px 1px;
    margin-top:-10px;
        
}
div.topR1 div.l3
{
    float: right;
   padding-right:10px;
   text-align:right;
   
}
.l2R1
{
    height: 20px;
   
}
.l2R2{color:Gray;padding-top:5px;}
.l2R1 div.topmnusep
{
    float:right;
    width:20px;
    height:17px;
    padding-top:3px;
    display:block;
    text-align:center;
    font-size:11px;
    font-weight:bold;
    color:#C8C4BC;
}

.l2R1 div.topmnu
{
    float:right;
    
}
.l2R1 div.topmnu1
{
    float:right;
    background:url('/Images/Menu/log_out.gif');
    background-repeat:no-repeat;
    padding-left:22px;
    height:17px;
    padding-top:3px;
    background-position:0px 2px;
}
.l2R1 div.topmnu2
{
    float:right;
    background:url('/Images/Menu/help.gif');
    background-repeat:no-repeat;
    padding-left:22px;
    height:17px;
    padding-top:3px;
}
.l2R1 div.topmnu3
{
    float:right;
    background:url('/Images/Menu/my_account.gif');
    background-repeat:no-repeat;
    padding-left:22px;
     height:17px;
    padding-top:3px;
}
.l2R1 div.topmnu4
{
    float:right;
    background:url('/Images/Menu/user.gif');
    background-repeat:no-repeat;
    padding-left:22px;
    height:17px;
    padding-top:3px;
    font-weight:bold;
    color:#5D5D5D;
}
.l2R1 div.topmnu5
{
    float:right;
    padding-left:22px;
    height:17px;
    padding-top:3px;
}
.l2R1 a
{   font-family:Verdana;
    font-size:11px;
    color:#000000;
    text-decoration:none;
    position:relative;
}
.l2R1 a:hover
{
    text-decoration:underline;
}
div.topR2
{
    clear:both;
    display: block;
    text-align: left;
    padding:10px 0px 2px 0px;
    background:url('/Images/Menu/strip-blue.jpg');
    background-repeat:repeat-x;
    background-position:0% 100%;
    height:29px;
}
.divmnuclose{width:10px;cursor:pointer; height:10px; display:block;background:url('/Images/Menu/close.gif') no-repeat left top;}
.searchtextbox{border-top:0px solid white;border-right:0px solid white;border-bottom:0px solid white;border-left:0px solid white; width:180px;}
.glowingtabs{
float:left;
font-size: 12px;
line-height:normal;
width:80%;
overflow:hidden;
}

.lang_flag{
float:right;
font-size: 11px;
padding:4px 10px 4px 0px;
}
.lanflag
{padding:2px 6px 2px 6px;}

.lanflagborder
{padding:1px 4px 1px 4px;
 border:1px solid #0DBEF4;
 }
.lanflagactive
{
padding:1px 4px 1px 4px;border:1px solid #10AAEA;
}
.glowingtabs ul{
list-style-type: none;
margin:0;
margin-left: 5px; /*Left offset of entire tab menu relative to page*/
padding:0;
}

.glowingtabs ul li{
display:inline;
margin:0;
padding:0;
}

.glowingtabs ul li a{
float:left;
background:url(media/glowtab-left.gif) no-repeat left top;
margin:0;
margin-right: 5px; /*spacing between each tab*/
padding:0 0 0 6px;
text-decoration:none;
}

.glowingtabs ul li a span{
float:left;
display:block;
background:url(media/glowtab.gif) no-repeat right top;
padding: 7px 10px 7px 4px;
color:#FFFFFF;
font-family:Verdana;
}


/* Commented Backslash Hack hides rule from IE5-Mac \*/
.glowingtabs ul li a span {float:none;}
/* End IE5-Mac hack */

.glowingtabs ul li a:hover span {
color:#FFFFFF;
}


.glowingtabs ul li a:hover{ /*onMouseover style*/
background-position:0% -28px; /*Shift background image up to start of 2nd tab image*/
color:#FFFFFF;
}

.glowingtabs ul li a:hover span{ /*onMouseover style*/
background-position:100% -28px; /*Shift background image up to start of 2nd tab image*/
color:#FFFFFF;
}

.glowingtabs ul li a.m{
float:left;
background:url(media/glowtab-left.gif) no-repeat left top;
margin:0;
margin-right: 5px; /*spacing between each tab*/
padding:0 0 0 6px;
text-decoration:none;
background-position:0 -28px;
cursor:pointer;
}
.glowingtabs ul li a.m span.n{
float:left;
display:block;
background:url(media/glowtab.gif) no-repeat right top;
padding: 7px 10px 7px 4px;
color:#FFFFFF;
font-family:Verdana;
background-position:100% -28px;
cursor:pointer;
}

.glowingtabs div.auctiontabs ul{
list-style-type: none;
margin:0;
margin-left: 5px; /*Left offset of entire tab menu relative to page*/
padding:0;

}

.glowingtabs div.auctiontabs ul li{
display:inline;
margin:0;
padding:0;

}

.glowingtabs div.auctiontabs ul li a{
float:left;
background:url(media/auction_left.png) no-repeat left top;
margin:0;
margin-right: 5px; /*spacing between each tab*/
padding:0 0 0 16px;
text-decoration:none;
}

.glowingtabs div.auctiontabs ul li a span{
float:left;
display:block;
background:url(media/auction_center.png) no-repeat right top;
padding: 7px 16px 7px 0px;
color:#FFFFFF;
font-family:Verdana;
}


/* Commented Backslash Hack hides rule from IE5-Mac \*/
.glowingtabs div.auctiontabs ul li a span {float:none;}
/* End IE5-Mac hack */

.glowingtabs div.auctiontabs ul li a:hover span {
color:#FFFFFF;
}


.glowingtabs div.auctiontabs ul li a:hover{ /*onMouseover style*/
background-position:0% -28px; /*Shift background image up to start of 2nd tab image*/
color:#FFFFFF;
}

.glowingtabs div.auctiontabs ul li a:hover span{ /*onMouseover style*/
background-position:100% -28px; /*Shift background image up to start of 2nd tab image*/
color:#FFFFFF;
}

.glowingtabs div.auctiontabs ul li a.m{
float:left;
background:url(media/auction_left.png) no-repeat left top;
margin:0;
margin-right: 5px; /*spacing between each tab*/
padding:0 0 0 16px;
text-decoration:none;
background-position:0 -28px;
cursor:pointer;
}
.glowingtabs div.auctiontabs ul li a.m span.n{
float:left;
display:block;
background:url(media/auction_center.png) no-repeat right top;
padding: 7px 16px 7px 0px;
color:#FFFFFF;
font-family:Verdana;
background-position:100% -28px;
cursor:pointer;
}

.dropmenudiv_d{
position:absolute;
top: 0;
border: 1px solid #dcc208; /*THEME CHANGE HERE*/
border-width: 0 1px;
font:normal 12px Verdana;
line-height:18px;
z-index:100;
background-color: white;
width: 200px;
visibility: hidden;
}


.dropmenudiv_d a{
width: auto;
display: block;
text-indent: 5px;
border: 0 solid #dcc208; /*THEME CHANGE HERE*/
border-bottom-width: 1px;
padding: 2px 0;
text-decoration: none;
color: black;
}

* html .dropmenudiv_d a{ /*IE only hack*/
width: 100%;
}

.dropmenudiv_d a:hover{ /*THEME CHANGE HERE*/
background-color: #fef8c8;
}


