﻿.hdBack
{
    clear: both;
    text-align: left;
    height: 40px;
    display: block;
    overflow: hidden;
}
.hdBack1
{
    float: left;
    padding: 10px 0px 5px 20px;
    width: 540px;
    border-right: 1px solid #D4D4D4;
    color: #767676;
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    height: 25px;
    display: block;
}
.hdBack2
{
    float: left;
    padding: 5px;
    width: 65px;
    border-right: 1px solid #D4D4D4;
    color: #767676;
    height: 30px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    display: block;
}
.hdBack21
{
    float: left;
    padding: 5px;
    width: 69px;
    border-right: 1px solid #D4D4D4;
    color: #767676;
    height: 30px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    display: block;
}
.hdBack3
{
    float: left;
    padding: 10px 5px 5px 5px;
    width: 39px;
    border-right: 1px solid #D4D4D4;
    color: #767676;
    height: 25px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    display: block;
}
.hdBack4
{
    float: left;
    padding: 5px;
    width: 195px;
    color: #767676;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    height: 30px;
    display: block;
}

.featureR
{
    clear: both;
    height: 120px;
}
.featureC1
{
    border-right: 1px solid #D4D4D4; border-bottom: 1px solid #D4D4D4;
    padding: 10px 2px 10px 2px;
    float: left;
    width: 556px;
    height: 100px;
   
    
}
.featureC2
{
    padding: 10px 2px 10px 2px;
    border-right: 1px solid #D4D4D4; border-bottom: 1px solid #D4D4D4;
    float: left;
    width: 71px;
    height: 100px;
    text-align: center;
    
}
.featureC22
{
    padding: 10px 2px 10px 2px;
    border-right: 1px solid #D4D4D4; border-bottom: 1px solid #D4D4D4;
    float: left;
    width: 75px;
    height: 100px;
    text-align: center;
    
}
.featureC3
{
    padding: 10px 5px 10px 5px;
    border-right: 1px solid #D4D4D4; border-bottom: 1px solid #D4D4D4;
    text-align: center;
    float: left;
    width: 39px;
    height: 100px;
}
.featureC4
{
    padding: 10px 2px 10px 2px; border-bottom: 1px solid #D4D4D4;
    float: left;
    width: 201px;
    height: 100px;
    text-align: center;
}
.featureTC1
{
    border-right: 1px solid #D4D4D4;
    border-top: 1px solid #D4D4D4;
    padding: 10px 2px 10px 2px;
    float: left;
    width: 556px;
    height: 99px;
   
     
}
.featureTC2
{
    padding: 10px 2px 10px 2px;
    border-right: 1px solid #D4D4D4;
    border-top: 1px solid #D4D4D4;
    float: left;
    width: 159px;
    height: 99px;
    text-align: center;
}
.featureTC3
{
    padding: 10px 5px 10px 5px;
    border-right: 1px solid #D4D4D4;
    border-top: 1px solid #D4D4D4;
    text-align: center;
    float: left;
    width: 39px;
    height: 99px;
}
.featureTC4
{
    padding: 10px 2px 10px 2px;
    border-top: 1px solid #D4D4D4;
    float: left;
    width: 201px;
    height: 99px;
    text-align: center;
}
.featureAR
{
    clear: both;
    height: 40px;
}
.featureAC1
{
    border-right: 1px solid #D4D4D4;
    border-bottom: 1px solid #D4D4D4;
    padding: 10px 10px 10px 110px;
    float: left;
    width: 440px;
    height: 19px;
    text-align: left;
}
.featureAC2
{
    padding: 5px;
    border-right: 1px solid #D4D4D4;
    border-bottom: 1px solid #D4D4D4;
    float: left;
    width: 153px;
    height: 29px;
    color: #E80087;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}
.featureAC3
{
    padding: 5px 5px 5px 5px;
    border-right: 1px solid #D4D4D4;
    border-bottom: 1px solid #D4D4D4;
    text-align: center;
    float: left;
    width: 39px;
    height: 29px;
}
.featureAC4
{
    padding: 5px;
    border-bottom: 1px solid #D4D4D4;
    float: left;
    width: 195px;
    height: 29px;
    color: #E80087;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}
.accessoryR
{
    clear: both;
    height: 150px;
}
.accessoryC1
{
    border-right: 1px solid #D4D4D4;
    padding: 10px 2px 10px 2px;
    float: left;
    width: 556px;
    height: 130px;
}
.accessoryC2
{
    padding: 10px 5px 10px 5px;
    border-right: 1px solid #D4D4D4;
    float: left;
    width: 153px;
    height: 130px;
    text-align: center;
    
}
.accessoryC3
{
    padding: 10px 2px 10px 2px;
    border-right: 1px solid #D4D4D4;
    text-align: center;
    float: left;
    width: 45px;
    height: 130px;
}
.accessoryC4
{
    padding: 10px 2px 10px 2px;
    float: left;
    width: 201px;
    height: 130px;
    text-align: center;
}

.accessoryAR
{
    clear: both;
    height: 40px;
}
.accessoryAC1
{
    border-right: 1px solid #D4D4D4;
    border-bottom: 1px solid #D4D4D4;
    padding: 10px 10px 10px 110px;
    float: left;
    width: 440px;
    height: 19px;
    text-align: left;
}
.accessoryAC2
{
    padding: 5px;
    border-right: 1px solid #D4D4D4;
    border-bottom: 1px solid #D4D4D4;
    float: left;
    width: 77px;
    height: 29px;
    color: #E80087;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.accessoryAC3
{
    padding: 5px 5px 5px 5px;
    border-right: 1px solid #D4D4D4;
    border-bottom: 1px solid #D4D4D4;
    text-align: center;
    float: left;
    width: 39px;
    height: 29px;
}
.accessoryAC4
{
    padding: 5px;
    border-bottom: 1px solid #D4D4D4;
    float: left;
    width: 195px;
    height: 29px;
    color: #E80087;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}


.summaryR2C1
{
    padding: 10px;
    width: 780px;
    height: 30px;
}
.summaryR2C2
{
    padding: 10px;padding-left:0px;
  
    width: 100px;
    border-right: 1px solid #D4D4D4;
    border-left: 1px solid #D4D4D4;
    border-bottom: 1px solid #D4D4D4;
    color: #767676;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

.summaryR2C3
{
    border-bottom:1px solid #D4D4D4;
    padding: 10px;padding-left:0px;
    width: 100px;
    color: #767676;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    height: 30px;
}

.SmryH
{
    color: #494949;
    font-family: "Swis721 Lt BT";
    font-weight: bold;
    font-size: 12px;
    font-style: Light italic;
}
.SmryF
{
    color: #272727;
    font-size: 16px;
    font-weight: bold;
    padding-top: 2px;
}
.SoC
{
    float: left;
    text-align: left;
    width: 200px;
    color: #EE178C;
    font-size: 20px;
    padding-top: 10px;
}
.avW
{
    float: right;
    text-align: right;
    color: #4A4A4A;
    font-size: 12px;
}


.addBack
{
    margin: 10px;
    padding-top: 20px;
    height: 150px;
    background-color: #F0F0F0;
    overflow: hidden;
}
.ordBack
{
    color: Black;
    font-weight: bold;
    text-align: right;
    padding: 5px 25px 5px 100px;
    background-color: #F0F0F0;
    border-right:2px solid #D4D4D4;
    
}
.ordNo
{
    color: Black;
    text-align: left;
    padding: 5px 25px 5px 25px;
    background-color: #F0F0F0;
    
}
.bHeading
{
    color: #363636;
    font-weight: bold;
    text-align: left;
    font-size:14px;
    padding-top: 5px;
    padding-bottom: 5px;
    
}
.bAddress
{
    color: Black;
    text-align: left;
    padding-top: 5px;
    font-size:13px;
    padding-bottom: 5px;
    
}
