﻿body #outerwrapper{
	width: 961px;
	background: #edecea url(/images/fend/home_bg.jpg) repeat-x !important;
	padding: 0 6px 0 0 !important;
	margin: 0 auto!important;
}

body #wrapper{
	background: none !important;
}

body #header{
	background: none !important;
}

h1{
	font-family: 'UniSansRegular',"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 18px;
	line-height: 22px; 
	color: #008db8;
	margin: 0;
	padding: 0 0 2px 0;
	font-weight: normal;
}

h2{
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 16px; 
	color: #008fbb;
	margin: 0;
	padding: 0 0 3px 0;
}


h3{
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 18px;
	line-height: 20px; 
	color: #008db8;
	margin: 0;
	padding: 0 0 2px 0;
	font-weight: normal;
}
.evR1
{background-image:url('/images/fend/corner1_pcsauction.jpg') ;
 background-repeat: no-repeat;
 width:250px;
 height:31px;
 display:block;
 padding:10px 0px 0px 20px;
 }
 .evR1 a
{font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #008db8;
	padding: 0 0 20px 0;
	font-weight: normal;
	text-decoration:underline;
	overflow:hidden;
 }
 .evR1 a:hover{color: #008db8;text-decoration:none;}
 .evR2
{background-image:url('/images/fend/corner2_pcsauction.jpg') ;
 background-repeat: repeat-y;
 width:250px;
 display:block;
 padding:15px 1px 0px 1px;
 }
 .evR3
{background-image:url('/images/fend/corner3_pcsauction.jpg') ;
 background-repeat: no-repeat;
 width:250px;
 height:18px;
 display:block;
 }
 
 .aucSep
 {background-image:url('/images/fend/separator_pcsauction.gif') ;
 background-repeat: no-repeat;
 background-position:50% 50%;
 width:248px;
 height:3px;
 display:block;
 padding:5px 0px 5px 0px;
 }
 .aucHeading
 {
     color: #10AAEA;
    font-weight: bold;
    font-size: 12px;
    padding:0px 10px 2px 20px; 
     }
.aucHeading a
 {
     color: #10AAEA;
    font-weight: bold;
    font-size: 12px;
  text-decoration:underline;
     }     
  .aucHeading a:hover
 {
     color: #10AAEA;
   text-decoration:none;
     }    
.aucdesc{font-size: 11px;
    padding: 0px 10px 5px 20px;}
.aucLink{color: #10AAEA;
    font-size: 10px;
    padding:0px 10px 2px 20px;text-align:right; }  
.aucLink a{color: #10AAEA;
     text-decoration:none;
     padding:0px 2px 0px 2px; }  
.aucLink a:hover{text-decoration:underline;}