﻿@import url("reset.css");
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,600,700,300,800);


header
{
    font-family: 'Open Sans', 'Segoe UI', Helvetica, Arial, sans-serif;
	font-size: 11px;
	color: #292929;
	float: left;
	width: 100%;
	padding-top: 25px;
	padding-bottom: 25px;
	border-bottom: 1px solid #BEBDBD;
}
	header div.inner{
		width: 890px;
		padding-left: 35px;
		padding-right: 35px;
		margin: auto;
	}
		header div.inner div.logo{
			float: left;
			width: 320px;
		}
		header div.inner nav{
			float: right;
			width: 570px;
		}
			header div.inner nav ul{
				margin-top: 25px;
				float: right;
				font-size: 0px;
			}
				header div.inner nav ul li{
					display: inline-block;
					vertical-align: top;
					zoom: 1;
					*display: inline;
					font-size: 18px;
					margin-right: 10px;
				}
				header div.inner nav ul li:last-child{
					margin-right: 0px;
				}
					header div.inner nav ul li a{
						display: block;
						padding-left: 10px;
						padding-right: 10px;
						height: 35px;
						line-height: 35px;
						color: #292929;
						text-decoration: none;
					}
					header div.inner nav ul li a.selected{
						border: 1px solid #e49a31;
						-webkit-border-radius: 5px;
						-moz-border-radius: 5px;
						border-radius: 5px;
					}
						header div.inner nav ul li a:hover{
							color: #e49a31;
						}
/* WELCOME */						