﻿@charset "utf-8";
/* CSS Document */

body
{
    margin: 0px;
    padding: 0px;
    background: white;
}
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section
{
    display: block;
}


@font-face
{
    font-family: 'dinregular';
    src: url('../fonts/Chn_Prop_Arial_Normal.ttf');
    font-weight: normal;
    font-style: normal;
}
.lcdstyle3
{
    color: red;
    font-family: dinregular;
    white-space: nowrap;
    text-align: left;
    font-size: 27px;
}
.msg1
{
    color: red;
    font-family: dinregular;
    white-space: nowrap;
    text-align: left;
    font-size: 12px;
}

.lcdstyle sup
{
    /*Example CSS to create LCD countdown look             font-size: 80%;*/
}
.currentRank
{
    padding: 4px 0px 15px 0px;
    font-family: dinregular;
    color: #18472C;
    font-weight: bold;
    font-size: 12px;
    white-space: nowrap;
}
.frame_bg
{
    font-size: 12px;
    color: Green;
    font-weight: bold;
    width: 200px;
    height: 40px;
    display: block;
    text-align: left;
    vertical-align: middle;
    font-family: dinregular;
}
.timerText
{
    font-family: arial;
    color: #24B4E8;
    font-size: 12px;
    font-weight: normal;
    line-height: 24px;
    font-family: dinregular;
}
