@import url("reset.css");
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,400italic,700italic,400,700,300);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,600,700,300,800);

body{
	font-family: 'Open Sans', 'Segoe UI', Helvetica, Arial, sans-serif;
	font-size: 11px;
	color: #292929;
}

header{
	float: left;
	width: 100%;
	padding-top: 25px;
	padding-bottom: 25px;
	border-bottom: 1px solid #BEBDBD;
}
	header div.inner{
		width: 890px;
		padding-left: 35px;
		padding-right: 35px;
		margin: auto;
	}
		header div.inner div.logo{
			float: left;
			width: 320px;
		}
		header div.inner nav{
			float: right;
			width: 570px;
		}
			header div.inner nav ul{
				margin-top: 25px;
				float: right;
				font-size: 0px;
			}
				header div.inner nav ul li{
					display: inline-block;
					vertical-align: top;
					zoom: 1;
					*display: inline;
					font-size: 18px;
					margin-right: 10px;
					
				}
				header div.inner nav ul li:last-child{
					margin-right: 0px;
				}
					header div.inner nav ul li a{
						display: block;
						padding-left: 10px;
						padding-right: 10px;
						height: 35px;
						line-height: 35px;
						color: #292929;
						text-decoration: none;
					}
					header div.inner nav ul li a.selected{
						border: 1px solid #e49a31;
						-webkit-border-radius: 5px;
						-moz-border-radius: 5px;
						border-radius: 5px;
					}
						header div.inner nav ul li a:hover{
							color: #e49a31;
						}
/* WELCOME */						
section#welcome{
	float: left;
	width: 100%;
	padding-top: 55px;
	padding-bottom: 55px;
	border-bottom: 1px solid #BEBDBD;
}
	section#welcome div.inner{
		width: 890px;
		padding-left: 35px;
		padding-right: 35px;
		margin: auto;
	}
		section#welcome div.inner h1{
			font-family: 'Roboto Condensed', 'Segoe UI', Helvetica, Arial, sans-serif;
			font-weight: 300;
			font-size: 42px;
			text-align: center;
			margin-bottom: 25px;
		}
		section#welcome div.inner p{
			font-weight: 300;
			font-size: 20px;
			line-height: 32px;
			text-align: center;
			margin-bottom: 25px;
			margin: auto auto 25px;
			width: 55%;
		}
		section#welcome div.inner div.button{
			width: 185px;
			margin: auto;
		}
			section#welcome div.inner div.button a{
				display: block;
				height: 55px;
				line-height: 55px;
				font-family: 'Roboto Condensed', 'Segoe UI', Helvetica, Arial, sans-serif;
				font-weight: 400;
				font-size: 30px;
				color: #FFFFFF;
				text-decoration: none;
				text-align: center;
				background-color: #e49a31;
				-webkit-border-radius: 5px;
				-moz-border-radius: 5px;
				border-radius: 5px;
				-webkit-transition: background-color 200ms linear;
				-moz-transition: background-color 200ms linear;
				-o-transition: background-color 200ms linear;
				-ms-transition: background-color 200ms linear;
				transition: background-color 200ms linear;
			}
				section#welcome div.inner div.button a:hover{
					background-color: #d18d2d;
					-webkit-transition: background-color 200ms linear;
					-moz-transition: background-color 200ms linear;
					-o-transition: background-color 200ms linear;
					-ms-transition: background-color 200ms linear;
					transition: background-color 200ms linear;
				}
				
/* AUCTIONS */						
section#auctions{
	float: left;
	width: 100%;
	padding-top: 20px;
	padding-bottom: 25px;
	border-bottom: 1px solid #BEBDBD;
}
	section#auctions div.inner{
		width: 420px;
		padding-left: 505px;
		padding-right: 35px;
		padding-top: 30px;
		padding-bottom: 25px;
		margin: auto;
		background-image: url(/Images/newlook/devices.jpg);
		background-repeat: no-repeat;
		background-position: 90px 10px;
	}
		section#auctions div.inner h1{
			font-family: 'Roboto Condensed', 'Segoe UI', Helvetica, Arial, sans-serif;
			font-weight: 700;
			font-size: 24px;
			margin-bottom: 18px;
		}
			section#auctions div.inner h1 span{
				color: #e49a31;
			}
		section#auctions div.inner ul{
			width: 340px;
			margin-bottom: 20px;
		}
			section#auctions div.inner ul li{
				padding-left: 10px;
				font-size: 14px;
				line-height: 20px;
				background-image: url(/Images/newlook/bullet-black.gif);
				background-repeat: no-repeat;
				background-position: 0px 9px;
				margin-bottom: 8px;
			}
				section#auctions div.inner ul li ul{
					width: auto;
					margin-bottom: 0;
				}
					section#auctions div.inner ul li ul li{
						display: inline;
						padding-left: 0;
						line-height: inherit;
						background-image: none;
						margin-bottom: 0;
						margin-right: 5px;
					}
					section#auctions div.inner ul li ul li + li{
						padding-left: 10px;
						background-image: url(/Images/newlook/bullet-golden.gif);
						background-repeat: no-repeat;
						background-position: 0px 9px;
					}
			
		section#auctions div.inner div.button{
			width: 225px;
		}
			section#auctions div.inner div.button a{
				display: block;
				height: 40px;
				line-height: 40px;
				font-family: 'Roboto Condensed', 'Segoe UI', Helvetica, Arial, sans-serif;
				font-weight: 400;
				font-size: 22px;
				color: #FFFFFF;
				text-decoration: none;
				text-align: center;
				background-color: #e49a31;
				-webkit-border-radius: 5px;
				-moz-border-radius: 5px;
				border-radius: 5px;
				-webkit-transition: background-color 200ms linear;
				-moz-transition: background-color 200ms linear;
				-o-transition: background-color 200ms linear;
				-ms-transition: background-color 200ms linear;
				transition: background-color 200ms linear;
			}
				section#auctions div.inner div.button a:hover{
					background-color: #d18d2d;
					-webkit-transition: background-color 200ms linear;
					-moz-transition: background-color 200ms linear;
					-o-transition: background-color 200ms linear;
					-ms-transition: background-color 200ms linear;
					transition: background-color 200ms linear;
				}

/* MEMBERS */						
section#members{
	float: left;
	width: 100%;
	padding-top: 55px;
	padding-bottom: 55px;
	border-bottom: 1px solid #BEBDBD;
}
	section#members div.inner{
		width: 890px;
		padding-left: 35px;
		padding-right: 35px;
		margin: auto;
	}
		section#members div.inner div.text{
			float: left;
			width: 390px;
			margin-left: 60px;
		}
			section#members div.inner div.text h1{
				font-family: 'Roboto Condensed', 'Segoe UI', Helvetica, Arial, sans-serif;
				font-weight: 700;
				font-size: 24px;
				margin-bottom: 18px;
			}
				section#members div.inner div.text h1 span{
					color: #e49a31;
				}
			section#members div.inner div.text ul{
			}
				section#members div.inner div.text ul li{
					padding-left: 10px;
					font-size: 14px;
					line-height: 20px;
					background-image: url(/Images/newlook/bullet-black.gif);
					background-repeat: no-repeat;
					background-position: 0px 9px;
					margin-bottom: 8px;
				}
		section#members div.inner div.icons{
			float: left;
		}
			section#members div.inner div.icons ul{
				margin-top: 12px;
			}
				section#members div.inner div.icons ul li{
					float: left;
					margin-left: 12px;
				}

/* REASONS RESELLERS */						
section#reasonsResellers{
	float: left;
	width: 100%;
	background-color: #e6e6e6;
	border-bottom: 1px solid #BEBDBD;
}
	section#reasonsResellers div.inner{
		width: 420px;
		padding-left: 505px;
		padding-right: 35px;
		height: 270px;
		overflow: hidden;
		margin: auto;
		background-image: url(/Images/newlook/resellers-bg.jpg);
		background-repeat: no-repeat;
	}
		section#reasonsResellers div.inner h1{
			margin-top: 45px;
			padding-left: 40px;
			font-family: 'Roboto Condensed', 'Segoe UI', Helvetica, Arial, sans-serif;
			font-weight: 700;
			font-size: 24px;
			margin-bottom: 22px;
		}
			section#reasonsResellers div.inner h1 span{
				color: #e49a31;
			}
		section#reasonsResellers div.inner ul{
		}
			section#reasonsResellers div.inner ul li{
				height: 19px;
				padding-left: 40px;
				font-size: 16px;
				background-image: url(/Images/newlook/bullet-tick.png);
				background-repeat: no-repeat;
				margin-bottom: 12px;
			}

/* HOW WORKS */						
section#howWorks{
	float: left;
	width: 100%;
	padding-top: 55px;
	padding-bottom: 55px;
	border-bottom: 1px solid #BEBDBD;
}
	section#howWorks div.inner{
		width: 890px;
		padding-left: 35px;
		padding-right: 35px;
		margin: auto;
	}
	section#howWorks div.inner h1{
			font-family: 'Roboto Condensed', 'Segoe UI', Helvetica, Arial, sans-serif;
			font-weight: 300;
			font-size: 36px;
			text-align: center;
			margin-bottom: 25px;
		}
		section#howWorks div.inner ul{
			width: 555px;
			margin: auto;
			margin-bottom: 35px;
		}
			section#howWorks div.inner ul li{
				font-size: 14px;
				margin-bottom: 10px;
			}
			section#howWorks div.inner ul li span{
				display: inline-block;
				width: 22px;
				height: 22px;
				line-height: 22px;
				font-family: 'Roboto Condensed', 'Segoe UI', Helvetica, Arial, sans-serif;
				font-weight: 700;
				color: #FFFFFF;
				text-align: center;
				background-color: #e49a31;
				-webkit-border-radius: 10px;
				-moz-border-radius: 10px;
				border-radius: 10px;
				margin-right: 15px;
			}
		section#howWorks div.inner div.button{
			width: 225px;
			margin: auto;
		}
			section#howWorks div.inner div.button a{
				display: block;
				height: 42px;
				line-height: 42px;
				font-family: 'Roboto Condensed', 'Segoe UI', Helvetica, Arial, sans-serif;
				font-weight: 400;
				font-size: 22px;
				color: #FFFFFF;
				text-decoration: none;
				text-align: center;
				background-color: #e49a31;
				-webkit-border-radius: 5px;
				-moz-border-radius: 5px;
				border-radius: 5px;
				-webkit-transition: background-color 200ms linear;
				-moz-transition: background-color 200ms linear;
				-o-transition: background-color 200ms linear;
				-ms-transition: background-color 200ms linear;
				transition: background-color 200ms linear;
			}
				section#howWorks div.inner div.button a:hover{
					background-color: #d18d2d;
					-webkit-transition: background-color 200ms linear;
					-moz-transition: background-color 200ms linear;
					-o-transition: background-color 200ms linear;
					-ms-transition: background-color 200ms linear;
					transition: background-color 200ms linear;
				}

/* FOOTER */						
footer{
	float: left;
	width: 100%;
	padding-top: 30px;
	padding-bottom: 40px;
	border-bottom: 1px solid #BEBDBD;
}
	footer div.inner{
		width: 890px;
		padding-left: 35px;
		padding-right: 35px;
		margin: auto;
	}
		footer div.inner div{
			width: 445px;
		}
		footer div.inner div.leftCol{
			float: left;
		}
			footer div.inner div.leftCol p{
				font-size: 14px;
				margin-bottom: 40px;
			}
				footer div.inner div.leftCol p img{
					position: relative;
					bottom: -12px;
					margin-left: 5px;
				}
				footer div.inner div.leftCol p a{
					color: #292929;
					text-decoration: none;
				}
					footer div.inner div.leftCol p a:hover{
						color: #e49a31;
					}
			footer div.inner div.leftCol p + p{
				font-size: 12px;
				line-height: 18px;
				margin-bottom: 0;
			}
		footer div.inner div.rightCol{
			float: right;
			text-align: right;
			padding-top: 20px;
		}
			footer div.inner div.rightCol h1{
				font-size: 14px;
				font-weight: 800;
				margin-bottom: 5px;
			}
			footer div.inner div.rightCol p{
				font-size: 14px;
				line-height: 18px;
			}
				footer div.inner div.rightCol p a{
					color: #292929;
					text-decoration: none;
				}
					footer div.inner div.rightCol p a:hover{
						color: #e49a31;
					}